*{
	margin: 0;
	padding: 0;			
}
body{
	font-family:"宋体","黑体","楷体";
	color:#000;
	background: #7ba5a3;
}
a {
	color:#137f05;
	text-decoration: none;
}
a:hover {
	color:#FFF;	
	text-decoration: none;
}
[v-cloak] {
	display:none;
}
#main{
	width:960px;
	position:absolute;
	left:50%;
	margin-left:-530px;
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	background: url(../img/bg01.jpg);
}
.title,#title{
	font-size:54px;
}
.desc1,#desc1{
	font-size:22px;
	text-align: center;
}
.desc2,#desc2{
	font-size:14px;
	text-align: center;
}
.myimg,#myimg{
	width:100%;
}
.family,#family {
	color:#f30d43;
	font-size:20px;	
	font-weight:bold;
}
.footer,#footer{
	position:absolute;
	text-align: center;
	width:960px;
	left:50%;
	margin-left: -480px;
	margin-top:25px;
	margin-bottom:30px;
	color:black;
}
.ret,#ret{
	position:absolute;
	width:960px;
	height:36px;
	text-align: center;
	left:50%;
	margin-left: -480px;
}

#lt{		
		left:0px;
		top:0px;
		width:55px;
		height:68px;
		position:absolute;
		background: url(../img/01.png);
	}
#mt{
	left:0px;
	top:0px;
	width:100%;
	height:68px;
	position:absolute;
	background: url(../img/02.png);
}
#rt{
	right:0px;
	top:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/03.png);
}
#lm{
	left:0px;
	top:0px;
	width:30px;
	height:100%;
	position:absolute;
	background: url(../img/04.png);
}
#rm{
	right:0px;
	top:0px;
	width:30px;
	height:100%;
	position:absolute;
	background: url(../img/06.png);
}
#lb{
	left:0px;
	bottom:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/07.png);
}
#mb{
	left:0px;
	bottom:0px;
	width:100%;
	height:68px;
	position:absolute;
	background: url(../img/08.png);
}
#rb{
	right:0px;
	bottom:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/09.png);
}
#ltx{		
	left:35px;
	top:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#rtx{		
	right:35px;
	top:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#lbx{		
	left:35px;
	bottom:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#rbx{		
	right:35px;
	bottom:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}

#iframes{
	width:100%;
	height:640px;
}

@media screen and (max-device-width:640px){
	#main{
		font-size:42px;
		left:50%;
		width:960px;
		margin-left:-530px;
	}
	.title,#title{
		font-size:84px;
	}
	.desc1,#desc1{
		font-size:42px;
	}
	.desc2,#desc2{
		font-size:36px;
	}
	.family,#family {
		font-size:54px;	
	}
	.footer,#footer{
		font-size:36px;
		margin-top:48px;
	}
	#iframes{
		height:1200px;
	}
	input{
		font-size:36px;
	}
}