*{
	margin: 0;
	padding: 0;			
}
body{
	font-family:"宋体","黑体","楷体";
	color:#000;
	background: #7ba5a3;
}
a {
	color:#137f05;
	text-decoration: none;
}
a:hover {
	color:#FFF;	
	text-decoration: none;
}
[v-cloak] {
	display:none;
}
#main{
	width:960px;
	position:absolute;
	left:50%;
	margin-left:-530px;
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	background: url(../img/bg01.jpg);
}
.title,#title{
	font-size:54px;
}
.desc1,#desc1{
	font-size:22px;
	text-align: center;
}
.desc2,#desc2{
	font-size:14px;
	text-align: center;
}
.myimg,#myimg{
	max-width:100%;
	max-height:600px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin: 0 auto;
}
.family,#family {
	color:#f30d43;
	font-size:20px;	
	font-weight:bold;
}
.footer,#footer{
	position:absolute;
	text-align: center;
	width:960px;
	left:50%;
	margin-left: -480px;
	margin-top:25px;
	margin-bottom:30px;
	color:black;
}
.ret,#ret{
	position:absolute;
	width:960px;
	height:36px;
	text-align: center;
	left:50%;
	margin-left: -480px;
}

#lt{		
		left:0px;
		top:0px;
		width:55px;
		height:68px;
		position:absolute;
		background: url(../img/01.png);
	}
#mt{
	left:0px;
	top:0px;
	width:100%;
	height:67px;
	position:absolute;
	background: url(../img/02.png);
}
#rt{
	right:0px;
	top:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/03.png);
}
#lm{
	left:0px;
	top:0px;
	width:29px;
	height:100%;
	position:absolute;
	background: url(../img/04.png);
}
#rm{
	right:0px;
	top:0px;
	width:30px;
	height:100%;
	position:absolute;
	background: url(../img/06.png);
}
#lb{
	left:0px;
	bottom:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/07.png);
}
#mb{
	left:0px;
	bottom:0px;
	width:100%;
	height:68px;
	position:absolute;
	background: url(../img/08.png);
}
#rb{
	right:0px;
	bottom:0px;
	width:55px;
	height:68px;
	position:absolute;
	background: url(../img/09.png);
}
#ltx{		
	left:35px;
	top:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#rtx{		
	right:35px;
	top:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#lbx{		
	left:35px;
	bottom:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}
#rbx{		
	right:35px;
	bottom:45px;
	width:32px; 
	height:32px;
	position:absolute;
	background: url(../img/xing1.gif);
}

#iframes{
	width:100%;
	height:640px;
}


#navi1 {
	width: 1000px;
	height: 30px;
	margin: 0px auto;
	color:white;
	font-size: 22px;
	font-family: "Times New Roman","黑体";
	text-align:center;
}
#navi1logo{
	position:absolute;
	top:0px;
	left:calc(50% - 505px);
	width:30px;
	height:30px;
	background:url("../img/logo.png") no-repeat;
	background-size:contain;
	cursor:pointer;
}
#navi1 #lang{
	position:absolute;
	left:calc(50% + 490px);
	top:-2px;	
	cursor:pointer;
}
#navi1 #navi{
	position:relative;
	top:-5px;
	left:60px;
	width:960px;
	height: 30px;	
}
#navi1>ul>li{
	float: left;
	list-style: none;
	color: white;
	width:108px;
	height: 25px;
	line-height: 30px;
	border-left:1px solid white;
	border-right:1px solid white;
	margin-right:2px;
	display: block;
	cursor:pointer;
}
#navi1>ul>li :hover{
	color: yellow;
	border-bottom:2px solid white;
}
#navi1 .active{
	color:yellow;
}



#navi2back {
	position:fixed;
	z-index:999;
	width: 100%;
	height: 80px;
	background: #7ba5a3;
	margin-bottom: 5px;	
}
#navi2logo{
	position:absolute;
	width:16%;
	top:10px;
	height: 60px;
	background:url("../img/logo.png") no-repeat;
	background-size:contain;
}
#navi2 {
	width: 1000px;
	height: 80px;
	margin: 5px auto;
	margin-top: 0;
}
#navi2 #lang{
	position:relative;
	height: 80px;
	line-height: 80px;
	font-size: 64px;
	width:72px;
	top:-36px;
	left:860px;
}
#navi2 #lang a{
	text-decoration: none;
	color: white;
}
#navi2 #currentpagename{
	position: relative;
	color:white;
	top:0px;
	text-align: center;
	font-size: 64px;
	height:40px;
}
#navi2 ul#menu {
	position: relative;
	top:-106px;
	left:936px;
	width: 72px;
	height: 40px;
	margin: 0;
	/*background: rgba(21, 30, 37, 0.32);*/
	color: #fff;
	z-index: 99;
}
#navi2 ul#menu>li {
	float: left;
	list-style-type: none;
	position: relative;
	width: 96px;
}
#navi2 ul#menu>li a{
	text-decoration:none;
}
#navi2 ul#menu label {
	position: relative;
	display: block;
	transition: background 0.3s;
	cursor: pointer;
	text-align: center;
	margin: 0;
}
#navi2 ul#menu label span {
	line-height: 64px;
	font-size: 64px;
}
#navi2 ul#menu input {
	display: none
}
#navi2 ul#menu input:checked~ul.submenu {
	max-height: 760px;
	transition: max-height 0.5s ease-in;
}
#navi2 ul.submenu {
	max-height: 0;
	padding: 0;
	width:250px;
	overflow: hidden;
	list-style-type: none;
	background: rgba(230, 240, 240, 0.8);
	transition: max-height 0.5s ease-out;
	position: absolute;
	min-width: 1em;
	right: 40px;
	top:80px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
	-webkit-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
	-moz-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
}
#navi2 ul.submenu li a {
	display: block;
	padding: 9px;
	color: #000;
	text-align: center;
	font-size: 48px;
	font-weight: 400;
	width:240px;
}
#navi2 ul.submenu li a:hover,
#navi2 ul.submenu li a.active {
	background: #7ba5a3;
	color: #fff;
}

.waterfall {
	width: 100%;
	column-gap:10px;
	column-count: 4;
	margin: 0 auto;
	padding-top: 10px;
}
.water {
	padding: 2px;
	margin-bottom: 6px;
	break-inside: avoid;
	border: 1px solid #000;
	background:#fff;
	overflow: hidden;
}
.water img {
	width: 100%;
	cursor: pointer;
	transition: all 0.6s;
}
.water img:hover{
	transform: scale(1.1);
}
.water p {
	line-height: 30px;
}
.waterfall iframe{
	width:100%;
	height:100%;
	border: medium none;
}

@media screen and (max-device-width:640px){
	#main{
		font-size:42px;
		left:50%;
		width:960px;
		margin-left:-530px;
	}
	.title,#title{
		font-size:84px;
	}
	.desc1,#desc1{
		font-size:42px;
	}
	.desc2,#desc2{
		font-size:36px;
	}
	.family,#family {
		font-size:54px;	
	}
	.footer,#footer{
		font-size:36px;
		margin-top:48px;
	}
	.myimg,#myimg{
		width:100%;
		max-height:100%;
	}
	#iframes{
		height:1200px;
	}
	input{
		font-size:36px;
	}
	input[type="checkbox"]{
		width:36px;
		height:36px;
	}
	.waterfall {
		column-count: 2;
	}
	.water p {
		font-size: 36px;
		line-height: 36px;
	}
}