* {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman","宋体","黑体";
}
body{
	background:#fff;
	color:black;
}
a:link {color: #444} 
a:visited {color: #888} 
a:hover,a:active {color: #000} 

#title{
	text-align:center;
	height:50px;
	line-height:40px;
	padding-top:10px;
}
#box {
	position:relative;
	width: 100%;
	/*background:url("flowers.png");*/
}
#history {	
}
#timeline {
	position:absolute;
	/*background:url("timeline.png");
	background-repeat: repeat-y;*/
	width:1px;
	top:30px;
	left:24px;
	background:#0ff;
	z-index:-1;
}
.history_trail{
	position:absolute;
	background:url("history_trail2.png") no-repeat;
	height:50px;
	left:17px;
	width:10%;
}
.info{
	font-size:14px;
}


.timebox {
	position:absolute;
	left:12%;
	background:rgba(255, 255, 255, 0.1);
	width:87%;
}
.yearbox {
	position:absolute;
	left:27px;
	color:orange;
}
.monthbox {
	position:absolute;
	left:11px;
	color:orange;
	z-index:999;
}
