<!DOCTYPE html>
<html>
    <head>
        <title>程璧年谱</title>
		<script src="jquery-3.3.1.min.js"></script>
		<script src="vue.min.js"></script>
		<link href="02.css" id="css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
		<style id="style">

		</style>
    </head>
	<body>
		<div id="title"><h2>程璧年谱</h2></div>
		<div id="box">
			<div id="history">
				<div class="history_trail" v-for="(item, i) in list" :style="{ 'top': (60*i+24) + 'px' }"></div>
				<div class="timebox" v-for="(item, i) in list" :style="{ 'top': (60*i+22) + 'px' }">
					【{{list[i].year}}年{{list[i].month}}月{{list[i].date}}日 {{list[i].n}} {{list[i].site}}】<br>
					<div class="info">{{list[i].info}}<a href={{list[i].url}}>>></a></div>
				</div>
			</div>
			<div id="timeline"></div>
		</div>
	</body>
	<script>
	if (window.screen.width <= 1024) $("#css").attr("href", "02m.css");
	
	var list= [
	//{"year":2012,"month":7,"date":7,"site":"北京 南锣鼓巷69cafe","n":"","class":"","info":"日式乡村民谣弹唱会","url":"http://weibo.com/2158787251/yrm7ffGg5"},
	{"year":2012,"month":9,"date":16,"site":"北京 南锣鼓巷69cafe","n":"","class":"","info":"《晴日共剪窗》首发演出。","url":"http://weibo.com/2158787251/yBrEhdrKd"},
	{"year":2014,"month":10,"date":11,"site":"杭州","n":"","class":"","info":"这次杭州演出收到很贴心的礼物","url":"http://weibo.com/1759006061/Br2k4zptr"},
	{"year":2014,"month":11,"date":28,"site":"长沙","n":"","class":"","info":"全集视频在这。","url":"http://weibo.com/1759006061/BypSir8Dd"},
	{"year":2014,"month":11,"date":9,"site":"北京 西区剧场","n":"","class":"","info":"远方的人啊，请你也不要急","url":"http://weibo.com/1759006061/BAb97qGjw"},
	{"year":2015,"month":5,"date":20,"site":"广州 中央车站","n":"","class":"","info":"广州中央车站音乐厅的演出","url":"http://weibo.com/1759006061/CixB16yWk"},
	{"year":2015,"month":5,"date":23,"site":"济南 山东大学","n":"","class":"","info":"列车南下","url":"http://weibo.com/1759006061/Cj85rarLK"},
	{"year":2015,"month":5,"date":19,"site":"广州 中山大学","n":"","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2015,"month":7,"date":11,"site":"北京 中山音乐堂","n":"","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2015,"month":5,"date":27,"site":"重庆 少数花园","n":"","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2015,"month":5,"date":29,"site":"成都 方所文化","n":"","class":"","info":"我的变，是诗歌的变，时间的变，情感的变。","url":"http://weibo.com/1759006061/CkIwD6uRO"},
	{"year":2015,"month":6,"date":27,"site":"济南 山东剧院","n":"","class":"","info":"不知不觉，已离家千万里。","url":"http://weibo.com/1759006061/CoFOtiIji"},
	{"year":2015,"month":6,"date":9,"site":"北京 北京大学","n":"","class":"","info":"文艺就是文化和艺术，是感性的抒发。","url":"https://weibo.com/1759006061/Cm4spBJGr"},
	{"year":2015,"month":6,"date":13,"site":"长沙 红色剧院","n":"","class":"","info":"花菇凉扮起来[哈哈]我和小伙伴们都准备好了","url":"http://weibo.com/1759006061/Cmntb52cr"},
	{"year":2015,"month":6,"date":17,"site":"上海 复旦大学","n":"","class":"","info":"转眼今晚将会是庭院分享会最后一站复旦大学","url":"http://weibo.com/1759006061/CmWYGrzN4"},
	{"year":2015,"month":6,"date":12,"site":"长沙 湖南大学","n":"","class":"","info":"在湖大遇到一位女孩，让我想到了村上春树笔下的初美。","url":"http://weibo.com/1759006061/CmXAElOSM"},
	{"year":2016,"month":4,"date":28,"site":"澳门 黑沙海滩","n":"","class":"","info":"HUSH MUSIC CONCERT","url":"http://weibo.com/1759006061/DsTfeBMpl"},
	{"year":2016,"month":12,"date":21,"site":"宁波 宁波大剧院","n":"18","class":"","info":"十八城巡演最后的收官站宁波，因为北大师兄师妹...","url":"http://weibo.com/1759006061/Enj9pnG0N"},
	{"year":2016,"month":9,"date":2,"site":"深圳 南山文体中心","n":"1","class":"","info":"我说再见某年某月，你说今夜不眠。","url":"http://weibo.com/1759006061/E6sUk8Gy9"},
	{"year":2016,"month":9,"date":11,"site":"上海 上海交响音乐团","n":"2","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2016,"month":9,"date":24,"site":"广州 中央车站","n":"3","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2016,"month":10,"date":14,"site":"武汉 武汉剧院","n":"4","class":"","info":"昨晚忘了关窗，早晨被江边航船汽笛声叫醒了。","url":"http://weibo.com/1759006061/EcXgSccwI"},
	{"year":2016,"month":12,"date":14,"site":"台北","n":"","class":"","info":"在台北风潮音乐旗舰店，做了非常用心的corner","url":"http://weibo.com/1759006061/Em7Tdke3y"},
	{"year":2016,"month":10,"date":16,"site":"南京 文化馆大剧院","n":"5","class":"","info":"一城又一城 到达然后告别 南京站看到了那些默默举起的横幅","url":"http://weibo.com/1759006061/Edz44yNbg"},
	{"year":2016,"month":10,"date":20,"site":"杭州 杭州大剧院","n":"6","class":"","info":"“我们不一样 我们都很棒”","url":"http://weibo.com/1759006061/Ee0jS849i"},
	{"year":2016,"month":10,"date":22,"site":"重庆 人民大厦","n":"7","class":"","info":"？？？","url":"http://weibo.com/sumersmile"},
	{"year":2016,"month":10,"date":23,"site":"成都 锦城艺术宫","n":"8","class":"","info":"在成都与橙色有关的日常","url":"http://weibo.com/1759006061/EewevqUa0"},
	{"year":2016,"month":10,"date":28,"site":"厦门 钢琴音乐厅","n":"10","class":"","info":"聊聊古生物鲎、磕海瓜子、踏浪吹海风！","url":"http://weibo.com/1759006061/Ef385dl14"},
	{"year":2016,"month":11,"date":5,"site":"长沙 湖南大剧院","n":"12","class":"","info":"花，旧友，笑顔，手写信。","url":"http://weibo.com/1759006061/Egf1W4EnA"},
	{"year":2016,"month":11,"date":6,"site":"昆明 胜利堂剧院","n":"13","class":"","info":"收到一份特别礼物","url":"http://weibo.com/1759006061/Egrk763aN"},
	{"year":2016,"month":11,"date":12,"site":"北京 世纪剧院","n":"14","class":"","info":"其实很多话在心里","url":"http://weibo.com/1759006061/EhyErqnV5"},
	{"year":2016,"month":11,"date":18,"site":"西安 西安音乐厅","n":"15","class":"","info":"？？？？","url":"http://weibo.com/sumersmile"},
	{"year":2016,"month":10,"date":26,"site":"无锡 演艺剧院","n":"9","class":"","info":"本月巡演倒数第二站！","url":"http://weibo.com/1759006061/EePgbkXGS"},
	{"year":2016,"month":11,"date":20,"site":"苏州 独墅湖影剧院","n":"16","class":"","info":"有的人心里，藏着一片幽暗森林；有的人心里，留着一个光亮出口。","url":"http://weibo.com/1759006061/EizAa2VTz"},
	{"year":2016,"month":9,"date":3,"site":"兰州 黄河剧院","n":"","class":"","info":"接着飞兰州，也是第一次去到西北演出，期待","url":"http://weibo.com/1759006061/E68l6uHxs"},
	//{"year":2016,"month":11,"date":24,"site":"北京","n":"","class":"","info":"卖萌谁不会","url":"http://weibo.com/1759006061/Ej54xblbw"},
	{"year":2016,"month":7,"date":30,"site":"张北","n":"","class":"","info":"去往张北草原音乐节的路上了！","url":"http://weibo.com/1759006061/E1g0Otvpf"},
	{"year":2016,"month":12,"date":9,"site":"天津 津湾大剧院","n":"17","class":"","info":"趁夜色发个自拍大头照","url":"http://weibo.com/1759006061/Elmwp7x1P"},
	//{"year":2016,"month":2,"date":8,"site":"滨州","n":"","class":"","info":"大年初一梳妆起来拜个年","url":"http://weibo.com/1759006061/DgR0D3RIt"},
	{"year":2016,"month":1,"date":4,"site":"杭州","n":"","class":"","info":"请用一个词来形容这只正在尝试新发型的少女","url":"http://weibo.com/1759006061/DbzFsbdSy"},
	{"year":2016,"month":6,"date":19,"site":"深圳","n":"","class":"","info":"晚上和风专场，发表一下「拙见」","url":"http://weibo.com/1759006061/DAX7vE767"},
	{"year":2016,"month":6,"date":10,"site":"上海","n":"","class":"","info":"第一次看到新书《可以不可以》","url":"http://weibo.com/1759006061/DzC8xeBBe"},
	{"year":2016,"month":8,"date":14,"site":"东京 月見ル君想ウ","n":"","class":"","info":"青山 月見ル君想ウ。","url":"http://weibo.com/1759006061/E3dAV86yf"},
	{"year":2016,"month":10,"date":30,"site":"东莞 东莞市文化馆","n":"11","class":"","info":"今天是万圣节前夜","url":"http://weibo.com/1759006061/EffTiqNLb"},
	{"year":2017,"month":4,"date":24,"site":"上海","n":"","class":"","info":"温柔试探","url":"http://weibo.com/1759006061/F011e4aD3"},
	{"year":2017,"month":6,"date":18,"site":"上海","n":"","class":"","info":"昨天。","url":"http://weibo.com/1759006061/F8xDnvMw0"},
	{"year":2017,"month":4,"date":28,"site":"长沙","n":"","class":"","info":"唱了一首从未唱过的新歌。","url":"http://weibo.com/1759006061/F0O8wwTXR"},
	{"year":2017,"month":6,"date":3,"site":"武藏野","n":"","class":"","info":"Nature Weekend. ","url":"http://weibo.com/1759006061/F67Evngu9"},
	{"year":2017,"month":6,"date":20,"site":"克罗地亚","n":"","class":"","info":"Croatia | 克罗地亚。","url":"http://weibo.com/1759006061/F8FZTxSz6"},
	{"year":2017,"month":7,"date":21,"site":"西安 西安音乐厅","n":"","class":"","info":"“长安县，阳光就很灿烂～！”","url":"http://weibo.com/1759006061/FdzFcbdrN"},
	{"year":2017,"month":11,"date":25,"site":"","n":"","class":"","info":"新专辑《步履不停》于今日正式上架发售！","url":"http://weibo.com/1759006061/FwHhTdpWt"},
	{"year":2018,"month":1,"date":12,"site":"北京 如论讲堂","n":"1","class":"","info":"深夜悄悄发图。","url":"http://weibo.com/1759006061/FEx0BvWuv"},
	{"year":2018,"month":2,"date":3,"site":"上海 美琪大剧院","n":"3","class":"","info":"团队乐队大家，这一路辛苦了","url":"http://weibo.com/1759006061/G1AwSwYbI"},
	{"year":2018,"month":1,"date":26,"site":"深圳 保利剧院","n":"2","class":"","info":"薄雾里的晨钟，是隐约的光亮。","url":"http://weibo.com/1759006061/G0WtbE6IO"},
	{"year":2018,"month":3,"date":10,"site":"东京 月見ル君思ウ","n":"","class":"","info":"昨晚的纪念演出，尝试了这样的发型。","url":"http://weibo.com/1759006061/G6LOgbjl1"},
	{"year":2018,"month":3,"date":24,"site":"苏州 文化艺术中心","n":"4","class":"","info":"唱完了！","url":"http://weibo.com/1759006061/G8UfzFN2c"},
	{"year":2018,"month":12,"date":16,"site":"杭州 杭州大剧院","n":"11","class":"","info":"从年初到年末，走过十一个城市","url":"http://weibo.com/1759006061/H7H2kpzHt"},
	{"year":2018,"month":9,"date":1,"site":"西安 西安音乐厅","n":"9","class":"","info":"薄雾里的晨钟，在西安。","url":"http://weibo.com/1759006061/GxvvsEyWY"},
	{"year":2018,"month":8,"date":12,"site":"沈阳 盛京大剧院","n":"8","class":"","info":"第一次到这里唱歌，感谢诸位来到现场听歌的人","url":"http://weibo.com/1759006061/GuqCbyxdJ"},
	{"year":2018,"month":7,"date":21,"site":"武汉 武汉剧院","n":"7","class":"","info":"夏树苍翠，长夜如歌。","url":"http://weibo.com/1759006061/Gr71ArP1u"},
	{"year":2018,"month":9,"date":22,"site":"石家庄 勒泰中心","n":"10","class":"","info":"谢谢石家庄的小伙伴，谢谢你们愿意来现场","url":"http://weibo.com/1759006061/GAEA3fyhd"},
	{"year":2018,"month":4,"date":30,"site":"长沙 湖南大剧院","n":"5","class":"","info":"巡演第五场，长沙站，也唱好了！","url":"http://weibo.com/1759006061/Geximieho"},
	{"year":2018,"month":6,"date":10,"site":"成都 锦城艺术宫","n":"6","class":"","info":"总在栀子花开的时候来成都。","url":"http://weibo.com/1759006061/GkJShE1Aq"},
	{"year":2019,"month":5,"date":10,"site":"上海 1862时尚艺术中心","n":"","class":"","info":"演出完最开心","url":"http://weibo.com/1759006061/HtAZtlMDC"},
	];

    list.sort(function (a,b){return 10000*(a.year-b.year)+100*(a.month-b.month)+(a.date-b.date);});
	$("#box").css("height",(list.length*60+20)+'px');
	$("#timeline").css("height",list.length*60-40+'px');
	
	var app = new Vue({
		el: '#history',
		data:{ 
			list:list,
		},
	});

	</script>
</html>