<!DOCTYPE html>
<head>
	<meta charste="utf-8">
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060+",maximum-scale=1, user-scalable=no"; </script>
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="../../main/js/vue.min.js"></script>
	<script src="file.js"></script>
	<script src="../../main/js/head.js"></script>
	<title>全景集</title>
<body>
	<div id="main">
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br/><br/>
		<div id="all">		
			<div class="title" align="center" @click.prevent="test=!test">全景集</div>		
			<span v-for="(item,i) in list" v-if="test || (item.F_GROUP!='map' && item.F_GROUP!='test')">
				<div v-if="i==0 ||item.F_GROUP!=list[i-1].F_GROUP" class="family"><br/><br/>{{groupname[item.F_GROUP]}}<br/></div>
				<span v-if="item.S_GROUP!=null && (i==0 ||item.S_GROUP!=list[i-1].S_GROUP)"><br/>【{{item.S_GROUP}}】 </span>
				<a name="file" :href="item.F_GROUP+'/'+item.F_NAME+'/index.html'">{{item.TITLE}}</a>
			</span>
			<br/><br/>
			<div align="center">
				<a :href="sessionStorage.getItem('cube')==true?'../../3dindex.html':'../../index.html'" style="cursor:pointer">返回主页</a>
			</div>
			<div class="footer">Copyright © 2017~Now 鱼儿. All Rights Reserved.</div><br/><br/>
		</div>		
	</div>
</body>
<script>
/*var cpageName=self.location.href.split('group/')[1].split('/')[0];
function loadScript(script){
	var _script = document.createElement('script');
	_script.type = "text/javascript";
	_script.src = script;
	document.head.appendChild(_script);
}
loadScript("../../main/js/head.js");
if(window.screen.width<1080) loadScript("../../main/js/navi2.js");
else loadScript("../../main/js/navi1.js");*/

window.onload = function(){
var all=new Vue({
	el: '#all',
	data:{ 	
		list:file,
		groupname:{photo:"照片集",draw:"全景绘",map:"他山之石",piyipi:"皮一皮",test:"测试",},
		test:false,
	},
	created: function created() {	
        if(self.location.href.substring(0,4)!="http")this.test=true;
    },
});

};
</script>
</html>