<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060+",maximum-scale=1, user-scalable=no"; </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<script src="../../main/js/jquery-3.3.1.min.js"></script>
	<script src="../../main/js/vue.min.js"></script>
	<script src="book.js"></script>
	<title>书卷集</title>

</head>

<body >
	<div id="main" v-cloak>
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br><br>
		<div v-if="depth==0">
			<div class="title" align="center" @click="test=!test">书卷总目</div><br>	
			<div class="desc2">古今之书，搜集于此。版权及带宽等所限，<br>
				厚书、现代作品等有目无书。仅供交流学习，叮！<br><br>						
			</div>
			<div style="text-align:center;">
				<input type="text" v-model="msg" placeholder="设定搜索文字">
				<span @click="bookSelect()" style="cursor:pointer">
					<span v-if="bookselect" style="color:Green;">选书</span>
					<span v-if="!bookselect" style="color:White">选书</span>
				</span>
				<span @click="startSearch()" style="cursor:pointer">🔍</span>
				<span id="searching"></span>
			</div>				
			<span v-for="(item,i) in book" v-if="test || (item.SHOW!='no' && item.F_GROUP!='test')">
				<div v-if="i==0 || book[i].S_GROUP!=book[i-1].S_GROUP" id="family"><br>
					{{item.F_GROUP}}->{{item.S_GROUP}}
					<input v-if="bookselect" type="checkbox" v-model="book[i].gselected" @change="setgChange(i)"/>
					<br><br></div>
				<span v-if="book[i].FILE=='file/' || (test && book[i].FILE=='filel/')">					
					<a @click.prevent="getBook(i)" style="cursor:pointer">{{item.TITLE}}</a>
					<input v-if="bookselect" v-model="book[i].selected" type="checkbox"/>
				</span>
				<span v-if="book[i].FILE==null || (!test && book[i].FILE=='filel/' )" 
					@click.prevent="getBook(i)">{{item.TITLE}}</span>
				<span v-if="bookselect">|</span>
			</span>
			<br>
		</div>
		<div v-if="depth==1">
			<div class="title" align="center">{{book[bookindex].TITLE}}</div><br>
			<a @click.prevent="reSet()" style="cursor:pointer">返回书卷目录</a><br><br>
			<span v-if="text=='' && (book[bookindex].FILE=='file/' || (test && book[bookindex].FILE=='filel/'))">加载中...</span>
			<span v-if="(text!='' && text.length<200) || book[bookindex].FILE==null || (!test && book[bookindex].FILE=='filel/' )">
			百度百科：<a :href="'https://baike.baidu.com/item/' + book[bookindex].TITLE">
				{{book[bookindex].TITLE}}</a></span>
			<a v-for="(item,i) in subinfo" @click.prevent="getZhang(i)" style="cursor:pointer">{{item.title}}<br></a><br>
		</div>
		<div v-if="depth==2">
			<div>
				<a v-if="searchstart==-1" @click.prevent="depth=1" style="cursor:pointer">返回本书目录</a>
				<a v-if="searchstart!=-1" @click.prevent="depth=3" style="cursor:pointer">返回搜索结果</a>
				 | {{book[bookindex].TITLE}}
			</div>
			<br>
			<div v-html="zhang"></div>
		</div>
		<div v-if="depth==3">
			<div class="title" align="center">搜索结果</div><br>
			<span v-if="searchrst.length==0">
				什么也没找到...
			</span>
			<span v-for="(item,i) in searchrst">
				<a @click.prevent="searchstart=item.jstart;getBook(item.bookindex);" style="cursor:pointer;font-weight:900;">
					{{i+1}}/{{searchrst.length}} {{book[item.bookindex].TITLE}} <span v-if="item.jtitle!=''">>{{item.jtitle}}</span></a><br><br>
				<div v-html="item.content"></div>
			<br><br></span>
		</div>
		<br><br>		
		<div align="center">
			<a v-if="depth==2 && zhangindex>0" @click.prevent="getZhang(zhangindex-1)" style="cursor:pointer">◀</a>
			<a v-if="depth==2 && searchstart==-1" @click.prevent="depth=1" style="cursor:pointer">返回本书目录</a>
			<a v-if="depth==2 && searchstart!=-1" @click.prevent="depth=3" style="cursor:pointer">返回搜索结果</a>
			<a v-if="depth==2 && zhangindex<subinfo.length-1" @click.prevent="getZhang(zhangindex+1)" style="cursor:pointer">▶</a>
			<a v-if="depth==1 || depth==3" @click.prevent="reSet()" style="cursor:pointer">返回书卷目录</a>
			<a v-if="depth==0" href="../../index.html" style="cursor:pointer">返回主页</a>
		</div>
		<div class="footer">Copyright © 2017~19 鱼儿. All Rights Reserved.</div><br><br>
	</div>

</body>
<script>

var vm = new Vue({
    el: '#main',
    data: {
        depth:0,book:book,
		bookindex:0,zhangindex:0,
		text:"",subinfo:[],zhang:"",
		
		search:false,
		bookselect:false,
		msg:"",
		searchrst:[],
		searchstart:-1,		
		//searchline:"",
		
		test:false,
		//milliseconds:0,
	},

	created: function created() {
		this.reSet();
		if(self.location.href.substring(0,4)!="http")this.test=true;
		//book.sort(function (a, b) {return a.TITLE.localeCompare(b.TITLE);});
        //book.sort(function (a, b) {return a.B_FILE.substring(0,a.B_FILE.lastIndexOf('/')).localeCompare(b.B_FILE.substring(0,b.B_FILE.lastIndexOf('/')));});
		let url=self.location.href;
		if(url.indexOf('=')>=0){
			let urlvalue=decodeURI(url.split('=')[1]);
			for(let i=0;i<this.book.length;i++) if(urlvalue==this.book[i].TITLE) {this.getBook(i); break; }
		}
    },

    methods: {
		reFresh: function reFresh(){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
			document.getElementById("main").style.visibility ="hidden";  
			this.$forceUpdate();
			var _this=this;
			setTimeout(function(){ 
				document.body.scrollTop=document.documentElement.scrollTop=_this.scrolltop; 
				document.getElementById("main").style.visibility = "visible";
			}, 0);
		},
		reSet: function reSet(){
			for(let j=0;j<this.book.length;j++) { this.book[j].selected= false; this.book[j].gselected= false;}
			this.depth=0;
			this.searchstart=-1;
			this.msg="";
			this.search=false;
			this.bookselect=false;
			this.searchrst=[];
			this.$forceUpdate();		
		},
        getZhang: function getZhang(i) {		
			this.zhang=this.text.substring(this.subinfo[i].start,this.subinfo[i].start+this.subinfo[i].length);
			if(this.searchstart!=-1) {
				let msg=this.msg.split(' ');
				for(let j=0;j<msg.length;j++) this.zhang=this.zhang.replace(new RegExp(msg[j],"gm"),"<span style='color:red'>"+msg[j]+"</span>");
			}
			this.zhang=this.zhang.replace(/\r\n/g,"<br>").replace(/\n/g,"<br>");
			this.depth=2;this.zhangindex=i;
        },

        getBook: function getBook(index) {
			if(this.search || this.bookselect) return;
            this.bookindex=index;
			if(this.depth==0) this.depth=1; 
			this.subinfo=[];this.text="";
			if(this.book[index].FILE==null ||(!this.test && this.book[index].FILE=='filel/')) return;
            this.loadBook();
        },

        setBook: function setBook() {
            let line=""; let substart=0; let sublength=0;  let subtitle=0;
            for(let i=0;i<this.text.length;i++) {
                line+=this.text[i];
                if(this.text[i]=="\n") {
                    if(eval(book[this.bookindex].F_EVAL) && line.replace(/(^\s*)|(\s*$)/g, "").length>0){
                        sublength=i-line.length-substart+1;
						//console.log(i+" "+line.length+" "+substart+" "+sublength)
                        if(subtitle) this.subinfo.push({'start':substart,'length':sublength,'title':subtitle});
                        substart=i-line.length+1;
						//console.log(substart)
                        subtitle=line.replace(/(^\s*)|(\s*$)/g, "").replace(/　/g, " ");
                    }
                    line="";
                }
            }
            sublength=this.text.length-substart;
            this.subinfo.push({'start':substart,'length':sublength,'title':subtitle});
			if(this.subinfo[0].start>0) this.subinfo.unshift({'start':0,'length':this.subinfo[0].start,'title':"目录页"});
			
			if(this.searchstart!=-1){
				let i=0;
				for(;i<this.subinfo.length;i++){
					if(this.subinfo[i].start==this.searchstart) break;
				}
				//this.searchstart=-1;
				if(i<this.subinfo.length)this.getZhang(i);
			}
        },
		
		
		bookSelect: function bookSelect(){
			this.bookselect=!this.bookselect;
			this.$forceUpdate();
		},
		
		setgChange: function setgChange(i){			
			for(let j=0;j<this.book.length;j++) 
				if(
					this.book[i].F_GROUP==this.book[j].F_GROUP &&
					this.book[i].S_GROUP==this.book[j].S_GROUP &&
					( this.book[j].FILE=='file/' || (this.test && this.book[j].FILE=='filel/') )
				) this.book[j].selected=this.book[i].gselected;
				
			this.reFresh();
			
		},
		
		startSearch: function startSearch() {
			//this.milliseconds = new Date().getTime();
			this.msg=this.msg.replace(/(^\s*)|(\s*$)/g, "").replace(/,/g," ").replace(/，/g," ");
			if(this.msg=="")return;
			this.bookindex=0;
			this.search=true;
			this.searchrst=[];
			this.nextSearch();			 
        },
		
		endSearch: function endSearch() {
			//console.log((new Date().getTime() - this.milliseconds) / 1000 + " s");
			this.bookindex=0;
			this.search=false;
			this.bookselect=false;
			this.text="";
			this.depth=3;
			//this.$forceUpdate();
        },
		
		doSearch: function doSearch() {
			//console.log("search: "+this.book[this.bookindex].FILE+this.book[this.bookindex].TITLE+".txt");
			
			let line=""; let linen="";//let substart=0; let sublength=0;  let subtitle=0;
			var msg=this.msg.split(' ');
			var search="";
			for(let i=0;i<msg.length;i++) {
				if(i>0) search+=" && ";
				if(msg[i][0]=="-") search+='linen.indexOf("'+msg[i]+'")<0';
				else search+='linen.indexOf("'+msg[i]+'")>0';
			}
			//console.log(search)
			let jstart=0;//卷始
			let jtitle="目录页";
			let getjtitle=false;
            for(let i=0;i<this.text.length;i++) {
			
                line+=this.text[i];
                if(this.text[i]=="\n") {
                    if(eval(book[this.bookindex].F_EVAL) && line.replace(/(^\s*)|(\s*$)/g, "").length>0){
                         jstart=i-line.length+1;
						 jtitle=line;
						 getjtitle=true;
                    }
                    line="";					
                }
				
				
				linen+=this.text[i];				
                if(getjtitle || (this.text[i]=="\n" && linen.length>100) || (this.text[i]=="。" && linen.length>300)) {
                    if(eval(search)){
						//let linenlength=linen.length;
						let content="";
						if(getjtitle && eval(search.replace("linen","jtitle"))) content=jtitle;
						else content=linen;
						
						for(let j=0;j<msg.length;j++) content=content.replace(new RegExp(msg[j],"gm"),"<span style='color:red'>"+msg[j]+"</span>");
						content=content.replace(/\r\n/g,"<br>").replace(/\n/g,"<br>");
						
						//console.log(jtitle.replace(/(^\s*)|(\s*$)/g, "").length)
						//console.log(this.searchrst.length+" "+jstart+" "+jtitle);
						this.searchrst.push({
							'bookindex':this.bookindex,
							//'start':i-linenlength+1,
							'jstart':jstart,
							//'length':linenlength,
							'jtitle':jtitle.replace(/(^\s*)|(\s*$)/g, ""),
							'content':content,
							//'linen':linen,
						});
						//console.log(linen)
						
						let recordmax=20; if(this.test) recordmax=36;
						if(this.searchrst.length>=recordmax) {this.endSearch(); return;}
                    }
                    linen="";
					getjtitle=false;
                }
				
            }
			
			this.bookindex++;
			this.nextSearch();			
        },
		
		nextSearch: function nextSearch() {
			for(;this.bookindex<this.book.length;this.bookindex++) {
				if	(	(this.bookselect && this.book[this.bookindex].selected) ||
						(!this.bookselect && ( this.book[this.bookindex].FILE=='file/' || (this.test && this.book[this.bookindex].FILE=='filel/')))
					){
					//this.$forceUpdate();
					//alert(this.book[this.bookindex].TITLE);
					let recordmax=20; if(this.test) recordmax=36;
					document.getElementById("searching").innerHTML="<br>正在搜索《"+
					this.book[this.bookindex].TITLE+"》...  已找到："+this.searchrst.length+"/"+recordmax;
					this.loadBook();
					return;
				}
			}
			this.endSearch();
			this.search=false;
        },
		
		/*getSearch: function getSearch(item) {
			//console.log(JSON.stringify(item))
			this.bookindex=item.bookindex;
			this.loadBook();
			//searchstart=item.start;
			//getBook(item.bookindex);
			//this.depth=2;
		},*/
		

        loadBook: function loadBook() {
			let _this=this; 
			name=this.book[this.bookindex].FILE+this.book[this.bookindex].TITLE+".txt";
			if(document.location.protocol === "file:" && navigator.userAgent.indexOf("Android")<0){
				//console.log("aa")
				$.ajax({
					url: name,
					success: function(data, status) {
						_this.text=data;
						if(_this.search) _this.doSearch();
						else _this.setBook();
					},
					error: function(data, status) {
						_this.text='出错了,Err：' + JSON.stringify(arguments);
						if(_this.search) { _this.bookindex=0; _this.search=false; document.getElementById("searching").innerHTML="搜索出错";}
					}
				});				
			}
			else{
				//console.log("bb")
				let xhr = new XMLHttpRequest()			
				xhr.open('GET', name, true);
				xhr.overrideMimeType("text/html;charset=utf-8");//默认utf-8
				xhr.send();				
				xhr.onreadystatechange = function() {
					if ( xhr.readyState == 4 ) {
						if ( xhr.status == 200 ) {
							_this.text=xhr.responseText;
							if(_this.search) _this.doSearch();
							else _this.setBook();
						}
						else {
							_this.text='出错了,Err：' + xhr.status;	
							if(_this.search) { _this.bookindex=0; _this.search=false;document.getElementById("searching").innerHTML="搜索出错";}
						}							
					}
				}				
			}			
		},
	},
	updated: function updated(){
		//console.log()
		document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.depth==0) document.title="书卷集";
        else if(this.depth==3) document.title="搜索页";
		else if(this.depth==1 || this.depth==2)  document.title=this.book[this.bookindex].TITLE;
	},
});
</script>
</html>
