<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060+",maximum-scale=1, user-scalable=no"; </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<style>
	textarea{
		height:17px;
		font-size:14px;
		width:240px;
	}
	.subnotezhang{
		font-size:12px;
		color:Gray;
	}
	.subnotezhang a,.zhang a{
		color:blue;
	}
	.subnotezhang a:hover,.zhang a:hover{
		color:white;
	}
	@media screen and (max-device-width:640px){
		textarea{
			font-size:42px;
			height:54px;
			width:480px;
		}
		.subnotezhang{
			font-size:36px;
		}
	}
	</style>
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="../../main/js/vue.min.js"></script>
	<script src="../../main/js/jquery-3.3.1.min.js"></script>
	<script src="book.js"></script>
	<title>书卷集</title>

</head>

<body >
	<div id="main" v-cloak>
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br><br>
		<div v-if="depth==0">
			<div class="title" align="center" @click="test=!test;reSet();">书卷总目</div><br>	
			<div class="desc2">古今之书，搜集于此。版权及带宽等所限，<br>
				厚书、现代作品等有目无书。仅供交流学习，叮！<br><br>						
				<span v-if="stateor">【<span @click="reSet(false);" 
				style="color:green;cursor:pointer;">或</span>筛选🔍】黑：是 | 白：非 |</span>
				<span v-if="!stateor">【<span @click="reSet(true);" 
				style="color:green;cursor:pointer;">与</span>筛选🔍】灰：无 | 黑：是 | 白：非 |</span><br>			
				 <span v-for="(item, i) in statename">
					<span v-if="i==0 || statename[i].split('|')[0]!=statename[i-1].split('|')[0]"><br>{{"【"+statename[i].split("|")[0]+"】"}}</span>
					<a :style="'color:'+(stateor?statecoloror[statevalue[i]]:statecolorand[statevalue[i]])" 
					@click="if(test || (i!=statename.length-4 && i!=statename.length-6) )setType(i)" style="cursor:pointer;">
					{{statename[i].indexOf("|")==-1?statename[i]:statename[i].split("|")[1]}} </a>
					<span v-if="item=='朝代|魏晋南北朝' || item=='朝代|清' || item=='地域|爱' || item=='类属|合集' || item=='标签|法学' 
					|| item=='标签|宗教' || item=='标签|动漫' || item=='标签|科学'" ><br></span>
				</span>								
			</div><br>
			<div style="text-align:center;">
				<textarea type="text" v-model="msg" placeholder="设定搜索文字" :style="(msg.length>20)?'width:80%;height:200px;':''"></textarea>
				<div>
					<span @click="listSelect()" style="cursor:pointer;padding-top:10px;">
						<span v-if="listselect" style="color:White">选书</span>
						<span v-if="!listselect" style="color:Green">选书</span>
					</span>
					<span @click="msgOne=false;startSearch()" style="color:Green;cursor:pointer">搜索</span>
					<span @click.prevent="searchClear()" style="cursor:pointer;color:green;">清空</span>
					<span @click.prevent="reSet()" style="cursor:pointer;color:green;">重置</span>
					<span id="searching"></span>
				</div>
			</div>				
			<span v-for="(item,i) in list" v-if="item.fliter">
				<div v-if="item.newGROUP" id="family"><br>
					{{item.F_GROUP}}->{{item.S_GROUP}}					
					<br><br></div>
				<span v-if="item.TYPE!='pdf' && (item.FILE=='file/' || (test && (item.FILE=='filewai/' || item.FILE=='filegu/' || item.FILE=='filejin/')))">					
					<a @click.prevent="getBook(i)" style="cursor:pointer">
						<span v-if="item.TITLE.indexOf(' ')>0">【</span>{{item.TITLE}}<span v-if="item.TITLE.indexOf(' ')>0">】</span>
					</a>
					<input v-if="listselect" v-model="item.selected" type="checkbox"/>
				</span>
				<span v-if="item.TYPE!='pdf' && (item.FILE==null || (!test && (item.FILE=='filewai/' || item.FILE=='filegu/' || item.FILE=='filejin/') ))" 
					@click.prevent="getBook(i)" style="cursor:pointer">
						<span v-if="!test || item.GET==null">
							<span v-if="item.TITLE.indexOf(' ')>0">【</span>{{item.TITLE}}<span v-if="item.TITLE.indexOf(' ')>0">】</span>
						</span>
						<span v-if="test && item.GET=='nofound'" style="color:#888;">
							<span v-if="item.TITLE.indexOf(' ')>0">【</span>{{item.TITLE}}<span v-if="item.TITLE.indexOf(' ')>0">】</span>
						</span>
					</span>
				<span v-if="test && item.TYPE=='pdf'" style="cursor:pointer">
					<a :href="'pdf/'+item.TITLE+'.pdf'" target="_blank" style="cursor:pointer;color:Blue;">
						<span v-if="item.TITLE.indexOf(' ')>0">【</span>{{item.TITLE}}<span v-if="item.TITLE.indexOf(' ')>0">】</span>
					</a></span>
				<span v-if="listselect">|</span>
			</span>
			<br>
		</div>
		<div v-if="depth==1">
			<div class="title" align="center">{{list[listindex].TITLE}}</div><br>
			<span v-if="test"> {{list[listindex].TAG}}</span>
			<a v-if="note!=''" @click="titlenoteshow=!titlenoteshow" style="cursor:pointer;color:Brown;font-weight:bold">
			<span v-if="!titlenoteshow">显示</span><span v-if="titlenoteshow">隐藏</span>笔记</a>
			<a @click.prevent="depth=0" style="cursor:pointer">返回书卷目录</a><br>
			<span v-if="list[listindex].COUNTRY!='中'">{{list[listindex].COUNTRY}} </span>
			{{list[listindex].DYNASTY}} {{list[listindex].AUTHOR}} {{text.length}}字
			<span v-if="!(text=='' && (list[listindex].FILE=='file/' || (test && (list[listindex].FILE=='filewai/' || list[listindex].FILE=='filegu/' || list[listindex].FILE=='filejin/'))))" >
				<span @click="msgOne=true;startSearch()" :style='msg==""?"color:Gray;cursor:pointer":"color:Green;cursor:pointer"'>搜索</span><br>
				<textarea type="text" v-model="msg" placeholder="设定搜索文字" :style="(msg.length>20)?'width:80%;height:200px;':''"></textarea><br>							
			</span><br>
			<span v-if="text=='' && (list[listindex].FILE=='file/' || (test && (list[listindex].FILE=='filewai/' || list[listindex].FILE=='filegu/' || list[listindex].FILE=='filejin/')))">加载中...</span>
			<span v-if="(text!='' && text.length<200) || list[listindex].FILE==null || (!test && (list[listindex].FILE=='filewai/' || list[listindex].FILE=='filegu/' || list[listindex].FILE=='filejin/') )">
			百度百科：<a :href="'https://baike.baidu.com/item/' + list[listindex].TITLE" target="_blank">
				{{list[listindex].TITLE}}</a></span>			
			<span v-if="!(text=='' && (list[listindex].FILE=='file/' || (test && (list[listindex].FILE=='filewai/' || list[listindex].FILE=='filegu/' || list[listindex].FILE=='filejin/'))))">			
				<span v-for="i of 100" v-if='(listpage*100+i-1)<subinfo.length'>
				<a @click="getZhang(listpage*100+i-1)" style="cursor:pointer">{{subinfo[listpage*100+i-1].title}}</a>
				<span v-if="note!='' && titlenoteshow" v-html=showNoteSubTitleZhang(subinfo[listpage*100+i-1].title) class="subnotezhang"></span>
				<br></span><br>
				<a v-if="listpage>=50" @click="listpage-=50;" style="cursor:pointer">◀◀◀　</a>
				<a v-if="listpage>=5" @click="listpage-=5;" style="cursor:pointer">◀◀　</a>
				<a v-if="listpage>0" @click="listpage--;" style="cursor:pointer">◀</a>
				<span v-if="subinfo.length>100">第{{listpage+1}}/{{Math.ceil(subinfo.length/100)}}页</span>
				<a v-if="subinfo.length>(listpage+1)*100" @click="listpage++;" style="cursor:pointer">▶</a>
				<a v-if="subinfo.length>(listpage+5)*100" @click="listpage+=5;" style="cursor:pointer">　▶▶</a>
				<a v-if="subinfo.length>(listpage+50)*100" @click="listpage+=50;" style="cursor:pointer">　▶▶▶</a>
			</span>
			<br>
		</div>
		<div v-if="depth==2">
			<div>
				<a v-if="searchstart==-1" @click.prevent="depth=1;if(msgOne)getBook(listindex);" style="cursor:pointer">返回本书目录</a>
				<a v-if="searchstart!=-1" @click.prevent="depth=3" style="cursor:pointer">返回搜索结果</a>
				 | {{list[listindex].TITLE}}
			</div>
			<br>
			<div class="zhang" v-html="zhang"></div>
		</div>
		<div v-if="depth==3">
			<div class="title" align="center">搜索结果</div><br>
				<a v-if="!msgOne" @click.prevent="depth=0;searchstart=-1;" style="cursor:pointer">返回书卷目录</a>
				<a v-if="msgOne" @click.prevent="depth=1;searchstart=-1;getBook(listindex);" style="cursor:pointer">返回本书目录</a>
			<br><br>
			<span v-if="searchrst.length==0">
				什么也没找到...
			</span>
			<span v-for="(item,i) in searchrst">
				<a @click.prevent="searchstart=item.jstart;getBook(item.listindex);searchshow=item.content;" style="cursor:pointer;font-weight:900;">
					{{i+1}}/{{searchrst.length}} {{list[item.listindex].TITLE}} <span v-if="item.jtitle!=''">>{{item.jtitle}}</span></a><br><br>
				<div v-html="item.content.replace(/\r\n/g,'<br>').replace(/\n/g,'<br>')"></div>
			<br><br></span>
		</div>
		<br><br>		
		<div align="center">
			<a v-if="depth==2 && zhangindex>0" @click.prevent="getZhang(zhangindex-1)" style="cursor:pointer">◀</a>
			<a v-if="depth==2 && searchstart==-1" @click.prevent="depth=1" style="cursor:pointer">返回本书目录</a>
			<a v-if="depth==2 && searchstart!=-1" @click.prevent="depth=3" style="cursor:pointer">返回搜索结果</a>
			<a v-if="depth==2 && zhangindex<subinfo.length-1" @click.prevent="getZhang(zhangindex+1)" style="cursor:pointer">▶</a>
			<a v-if="depth==1 || depth==3" @click.prevent="depth=0;searchstart=-1;" style="cursor:pointer">返回书卷目录</a>
			<a v-if="depth==0" :href="sessionStorage.getItem('cube')==true?'../../3dindex.html':'../../index.html'" style="cursor:pointer">返回主页</a>
		</div>
		<div class="footer">Copyright © 2017~19 鱼儿. All Rights Reserved.</div><br><br>
	</div>

</body>
<script>
var cpageName=self.location.href.split('group/')[1].split('/')[0];
function loadScript(script){
	var _script = document.createElement('script');
	_script.type = "text/javascript";
	_script.src = script;
	document.head.appendChild(_script);
}
loadScript("../../main/js/head.js");
if(window.screen.width<1080) loadScript("../../main/js/navi2.js");
else loadScript("../../main/js/navi1.js");

window.onload = function(){
var vm = new Vue({
    el: '#main',
    data: {
        depth:0,list:book,
		listindex:0,zhangindex:0,listpage:0,
		text:"",subinfo:[],zhang:"",tozhang:"",
				
		statename:["主类|古籍","主类|今人","主类|外国",
		"朝代|先秦","朝代|秦","朝代|西汉","朝代|东汉","朝代|魏晋南北朝",
		"朝代|隋唐五代","朝代|北宋","朝代|南宋","朝代|元","朝代|明","朝代|清",
		"朝代|上古","朝代|中世纪","朝代|文艺复兴","朝代|近代","朝代|现代","朝代|当代","朝代|无",		
		"地域|中","地域|英","地域|法","地域|德","地域|意","地域|俄","地域|希","地域|荷","地域|奥","地域|波","地域|西","地域|爱",
		"地域|北欧","地域|罗马","地域|美","地域|日","地域|韩","地域|印","地域|加","地域|澳","地域|美洲","地域|其它","地域|无",
		"类属|经","类属|史","类属|儒","类属|释","类属|道","类属|医","类属|诸子","类属|单集","类属|合集",
		"类属|诗文","类属|随笔","类属|人文","类属|小说戏剧","类属|书目","类属|其它",
		"标签|学门","标签|数学","标签|物理","标签|天文","标签|地理","标签|化学","标签|生物","标签|科学",
		"标签|天工","标签|医学","标签|计算机","标签|经济","标签|管理","标签|历史","标签|心理","标签|法学",
		"标签|哲学","标签|逻辑","标签|伦理","标签|认识论","标签|政治","标签|形而上学","标签|宗教",
		"标签|社会","标签|语言","标签|美学","标签|传记","标签|文学","标签|未来","标签|实操","标签|动漫",
		"标签|巨篇","标签|长篇","标签|短篇","标签|英文","标签|Nobel","标签|S","标签|SS","标签|SSS","标签|无",
		],
		stategroup:{"朝代":"DYNASTY","主类":"F_GROUP","类属":"S_GROUP","地域":"COUNTRY","标签":"TAG",},		
		statevalue:[],
		stateor:false,
		statecoloror:["#fff","#000"],
		statecolorand:["#888","#000","#fff"],
				
		search:false,
		//notes:false,
		listselect:false,
		msg:"",
		msgOne:false,
		note:"",
		titlenoteshow:false,
		searchrst:[],
		searchstart:-1,	
		searchshow:"",
		//searchline:"",
		
		test:false,
		recordmax:36,
		//milliseconds:0,
	},

	created: function created() {		
		if(self.location.href.substring(0,4)!="http")this.test=true;		
		this.reSet();
		//for(let i=0;i<this.list.length;i++) if(this.list[i].TYPE=="pdf") {console.log(this.list[i].TITLE); }
		
		//list.sort(function (a, b) {return a.TITLE.localeCompare(b.TITLE);});
        //list.sort(function (a, b) {return a.B_FILE.substring(0,a.B_FILE.lastIndexOf('/')).localeCompare(b.B_FILE.substring(0,b.B_FILE.lastIndexOf('/')));});
		let url=self.location.href;
		if(url.indexOf('=')>=0){
			let urlvalue=decodeURI(url.split('=')[1]);
			for(let i=0;i<this.list.length;i++) if(urlvalue.split('|')[0]==this.list[i].TITLE) {			 				
				if(urlvalue.split('|')[1]!='') this.tozhang=urlvalue.split('|')[1];
				this.getBook(i); break; 
			}
		}
		
		var _this = this;
        document.onkeydown = function(e) {
            let key = window.event.keyCode;
			if (key == 36) {
                if(_this.depth==2 && _this.searchstart==-1) {_this.depth=1; if(_this.msgOne)getBook(_this.listindex);}
				else if(_this.depth==2 && _this.searchstart!=-1) _this.depth=3; 
				else if(_this.depth==1) _this.depth=0;
				else if(_this.depth==3 && _this.msgOne) {_this.depth=1;_this.searchstart=-1;_this.getBook(_this.listindex);}
				else if(_this.depth==3 && !_this.msgOne) {_this.depth=0;_this.searchstart=-1;}
            }
            if (key == 37) {
                if(_this.depth==2 && _this.zhangindex>0) _this.getZhang(_this.zhangindex-1);
				if(_this.depth==1 && _this.listpage>0) _this.listpage--;
            }
			if (key == 39) {
                if(_this.depth==2 && _this.zhangindex<_this.subinfo.length-1) _this.getZhang(_this.zhangindex+1);
				if(_this.depth==1 && _this.listpage<Math.ceil(_this.subinfo.length/100)-1) _this.listpage++;
            }
        };
    },

    methods: {
		//isNumber: function isNumber(str){ var re = /^([0-9]+)([.]?)([0-9]*)$/;  return re.test(str);},
		reFresh: function reFresh(){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
			document.getElementById("main").style.visibility ="hidden";  
			this.$forceUpdate();
			var _this=this;
			setTimeout(function(){ 
				document.body.scrollTop=document.documentElement.scrollTop=_this.scrolltop; 
				document.getElementById("main").style.visibility = "visible";
			}, 0);
		},
		reSet: function reSet(stateor){
		
			document.getElementById("searching").innerHTML="";
			if(stateor!=null) this.stateor=stateor; else this.stateor=false;
			if(this.searchrst.length==0) for(let j=0;j<this.statename.length;j++) this.statevalue[j]=0;
			if(this.stateor) this.c(["朝代|先秦","朝代|秦","朝代|西汉","朝代|东汉","朝代|魏晋南北朝",
				"朝代|隋唐五代","朝代|北宋","朝代|南宋","朝代|元","朝代|明","朝代|清",
				"朝代|上古","朝代|中世纪","朝代|文艺复兴","朝代|近代","朝代|现代","朝代|当代","朝代|无",		
				"地域|中",],1);	
			
			for(let j=0;j<this.list.length;j++) { 
				this.list[j].fliter= false; 
				//if(this.test || this.list[j].SHOW==null || this.list[j].F_GROUP=='test') this.list[j].fliter=true;
				this.list[j].selected= false; 
				if(this.list[j].FILE=='file/' || (this.test && (this.list[j].FILE=='filewai/' || this.list[j].FILE=='filegu/' || this.list[j].FILE=='filejin/'))) this.list[j].selected= true; 
				//this.list[j].gselected= false;
				this.getItem(j);				
			}
			
			this.setIsNewGroup();
			this.depth=0;
			this.searchstart=-1;
			this.msg="";
			this.msgOne=false;
			if(this.test) this.recordmax=36;else this.recordmax=20;
			this.text="";
			this.note="";
			this.search=false;
			this.listselect=false;
			this.searchrst=[];
			
			if(!this.test){
				this.statevalue[this.statename.length-6]=2; //En
				this.statevalue[this.statename.length-4]=1;// S
				for(let k=0;k<this.list.length;k++) this.getItem(k);
				this.setIsNewGroup();
			}
			
			this.$forceUpdate();	
		},
		
		selectClear: function selectClear(){
			for(let i in this.list) this.list[i].selected=false;
			//this.$forceUpdate();		
		},
		searchClear: function searchClear(){
			this.selectClear();
			document.getElementById("searching").innerHTML="";
			this.depth=0;
			this.searchstart=-1;
			this.msg="";
			this.text="";
			this.note="";
			this.search=false;
			this.searchrst=[];
			this.$forceUpdate();		
		},
		setIsNewGroup: function setIsNewGroup(){
			var lastF_GROUP="";var lastS_GROUP="";
			for(let j=0;j<this.list.length;j++) {
				this.list[j].newGROUP=false;
				if(lastF_GROUP=="" || lastF_GROUP!=this.list[j].F_GROUP || lastS_GROUP!=this.list[j].S_GROUP) this.list[j].newGROUP=true;
				if(this.list[j].fliter) {
					lastF_GROUP=this.list[j].F_GROUP;
					lastS_GROUP=this.list[j].S_GROUP;
				}
			}
		},
		setType: function setType(i){
			if(this.stateor){
				this.statevalue[i]=(this.statevalue[i]+1)%2;
				if(this.statevalue[i]==1){				
					if(i>=this.statename.indexOf("朝代|先秦") && i<=this.statename.indexOf("朝代|清")) this.c(["主类|古籍",],1);	
					if(i==this.statename.indexOf("主类|今人"))this.c(["朝代|现代","朝代|当代",],1);	
					if(i==this.statename.indexOf("朝代|现代"))this.c(["主类|今人",],1);	
					if(i==this.statename.indexOf("朝代|当代"))this.c(["主类|今人",],1);	
					if(i==this.statename.indexOf("主类|外国"))this.c(["朝代|无","地域|无"],1);					
				}
			}
			else{
				this.statevalue[i]=(this.statevalue[i]+1)%3;
				if(this.statevalue[i]==1){					
					if(i>=this.statename.indexOf("主类|古籍") && i<=this.statename.indexOf("主类|外国")) 
						this.c(["主类|古籍","主类|今人","主类|外国",]);
					if(i>=this.statename.indexOf("朝代|先秦") && i<=this.statename.indexOf("朝代|无")) 
						this.c(["朝代|先秦","朝代|秦","朝代|西汉","朝代|东汉","朝代|魏晋南北朝",
						"朝代|隋唐五代","朝代|北宋","朝代|南宋","朝代|元","朝代|明","朝代|清",
						"朝代|上古","朝代|中世纪","朝代|文艺复兴","朝代|近代","朝代|现代","朝代|当代","朝代|无",]);
					if(i>=this.statename.indexOf("类属|经") && i<=this.statename.indexOf("类属|其它")) 
						this.c(["类属|经","类属|史","类属|儒","类属|释","类属|道","类属|医","类属|诸子","类属|单集","类属|合集",
						"类属|诗文","类属|随笔","类属|人文","类属|小说戏剧","类属|书目","类属|其它",]);
					if(i>=this.statename.indexOf("地域|中") && i<=this.statename.indexOf("地域|无")) 
						this.c(["地域|中","地域|英","地域|法","地域|德","地域|意","地域|俄","地域|希","地域|荷","地域|奥","地域|波","地域|西",
						"地域|爱","地域|北欧","地域|罗马","地域|美","地域|日","地域|韩","地域|印","地域|加","地域|澳","地域|美洲","地域|其它","地域|无",]);
					if(i==this.statename.indexOf("主类|外国")) 
						this.c(["朝代|先秦","朝代|秦","朝代|西汉","朝代|东汉","朝代|魏晋南北朝",
						"朝代|隋唐五代","朝代|北宋","朝代|南宋","朝代|元","朝代|明","朝代|清",]);
					/*if(i>=this.statename.indexOf("标签|学门") && i<=this.statename.indexOf("标签|美学")) 
						this.c(["标签|学门","标签|天工","标签|哲学","标签|经济","标签|心理","标签|法学","标签|社会","标签|美学",]);*/
					this.statevalue[i]=1;
				}
			}			
			for(let k=0;k<this.list.length;k++) this.getItem(k);
			this.setIsNewGroup();
			this.$forceUpdate();
		},
		c: function c(staten,v){
			for(let i=0;i<staten.length;i++){
				let n = this.statename.indexOf(staten[i]);
				if(this.stateor) this.statevalue[n]=v;
				else{
					if(this.statevalue[n]==1) this.statevalue[n]=2;
				}
			}
		},
		getItem: function getItem(i){
			//console.log("s");
			if(!this.test && this.list[i].SHOW=="no" && this.list[i].F_GROUP!='test') {this.list[i].fliter= false; return;}
			if(this.stateor){
				for(let j=0;j<this.statename.length;) {
					//if(this.statevalue[j]==0) continue;				
					let get=-1;
					let fenlei=this.statename[j].split("|")[0];
					let word=this.statename[j].split("|")[1];				
					if(this.list[i][this.stategroup[fenlei]]==null) {if(word=="无") get=0;}
					else if(this.list[i][this.stategroup[fenlei]]==word) get=0;
					if( get!=-1 && this.statevalue[j]==1 ) {
						if(this.nextStateGroup(j)==-1) {this.list[i].fliter= true; return;}
						else j=this.nextStateGroup(j);
					}
					else if( get!=-1 && this.statevalue[j]!=1 ) {this.list[i].fliter= false; return;}
					else j++;	
				}
				this.list[i].fliter= false; return;
			}
			else{			
				for(let j=0;j<this.statename.length;j++) {
					if(this.statevalue[j]==0) continue;				
					let get=-1;
					let fenlei=this.statename[j].split("|")[0];
					let word=this.statename[j].split("|")[1];
					if(this.list[i][this.stategroup[fenlei]]==null) {if(word=="无") get=0;}
					else if(this.list[i][this.stategroup[fenlei]]==word) get=0;
					else if(fenlei=="标签" && this.list[i][this.stategroup[fenlei]].indexOf(word)>=0) get=0;
					if(get!=-1 && this.statevalue[j]==1) continue;
					if(get==-1 && this.statevalue[j]==2) continue;
					this.list[i].fliter= false;	return;		
				}
				this.list[i].fliter= true; return;			
			}
			
		},
		nextStateGroup: function nextStateGroup(j){
			if(j>=(this.statename.length-1)) return -1;
			let jfenlei=this.statename[j].split("|")[0];
			for(i=j+1;i<this.statename.length;i++) if(this.statename[i].split("|")[0]!=jfenlei) return i;
			return -1;
		},		
		getPre: function getPre(j){
			let i=j-1;
			for(;i>=0;i--) if(this.list[i].fliter) return i;
			return -1;
		},
		
        getZhang: function getZhang(i) {		
			this.zhang=this.text.substring(this.subinfo[i].start,this.subinfo[i].start+this.subinfo[i].length);
			if(this.searchstart!=-1) {
				if(this.msg.indexOf('function')<0){
					let msg=this.msg.split(' ');
					for(let j=0;j<msg.length;j++) this.zhang=this.zhang.replace(new RegExp(msg[j],"gm"),"<span style='color:red'>"+msg[j]+"</span>");
				}
				else{
					this.zhang=this.zhang.replace(new RegExp(this.searchshow,"gm"),"<span style='color:blue'>"+this.searchshow+"</span>");
				}
			}
			this.zhang=this.zhang.replace(/\r\n/g,"<br>").replace(/\n/g,"<br>");
			
			if(this.note!="" && this.searchstart==-1){
				let subtitle=this.zhang.split("<br>")[0];
				let note=this.getNoteSubTitle(subtitle);			
				if(note!=null) {
					for(let j=0;j<note.length;j++){
						let tmp="<span style='font-weight:900;color:green'>"+note[j].s+"</span>";
						if(note[j].w!='') tmp+="<span style='font-weight:900;color:red'>（"+note[j].w+"）</span>";
						this.zhang=this.zhang.replace(note[j].s,tmp)
					}
				}
			}
			
			var _this = this;
			this.zhang=this.zhang.replace(/《(.+?)》/g, function($1){return _this.setBookUrl($1);});
			
			this.depth=2;this.zhangindex=i;
        },
		
		setBookUrl: function setBookUrl(book){		
			book=book.split('《')[1].split('》')[0];
			let bookall=book; 
			
			var isEn=false; 
			var re = new RegExp("^[a-zA-Z0-9]+$");
			if (re.test(bookall.replace(/\s*/g,""))) isEn=true;
			
			if(bookall.indexOf("|")>0)book=bookall.split('|')[0];
			else if(bookall.indexOf("·")>0)book=bookall.split('·')[0];
			else if(!isEn && bookall.indexOf(" ")>0)book=bookall.split(' ')[0]; 
			
			for(let i=0;i<this.list.length;i++) if(book==this.list[i].TITLE) {				
				if(this.list[i].TYPE=='pdf') return '<a style="cursor: pointer;" target="_blank" href="pdf/'+(bookall.indexOf("|")>0?bookall:book)+'.pdf">《'+bookall+'》</a>';
				else return '<a style="cursor: pointer;" target="_blank" href="index.html?wd='+(bookall.indexOf("|")>0?bookall:book)+'">《'+bookall+'》</a>';
			}	
			return '《'+bookall+'》';
		},
		
		getNoteSubTitle: function getNoteSubTitle(subtitle) {
			let note='';
			if(this.note[0]=='{') note=JSON.parse(this.note)[subtitle];
			else if(this.note[0]=='【'){
				this.note=this.note.replace(/\r\n【/g, '],\r\n"');
				this.note=this.note.replace(/【/g, '"');	
				this.note=this.note.replace(/】/g, '":[');
				this.note=this.note.replace(/『/g, '{"s":"');
				this.note=this.note.replace(/』/g, '","w":""}');
				this.note=this.note.replace(/}\r\n{/g, '},\r\n{');
				this.note=this.note.replace(/）","w":""/g, '"');
				this.note=this.note.replace(/（/g, '","w":"');
				this.note="{"+this.note+"]}";
				//console.log(this.note);	
				note=JSON.parse(this.note)[subtitle];					
			}
			return note;
        },
		
		showNoteSubTitleZhang: function showNoteSubTitleZhang(zhangTitle) {
			let noteZhang='';
			let tmp=this.getNoteSubTitle(zhangTitle);
			if(tmp==null) return "";
			for(var i in tmp) {
				noteZhang+='<br>'+tmp[i].s;
				if(tmp[i].w){
					var _this = this;
					noteZhang+="（"+tmp[i].w.replace(/《(.+?)》/g, function($1){return _this.setBookUrl($1);})+"）";
				}
			}
			return noteZhang;
        },

        getBook: function getBook(index) {
			if(this.search) return;
            this.listindex=index;
			if(this.depth==0) { this.depth=1; this.listpage=0; }
			this.subinfo=[];this.text="";
			if(this.list[index].TYPE=="pdf" || this.list[index].FILE==null || (!this.test && (this.list[index].FILE=='filewai/'||this.list[index].FILE=='filegu/'||this.list[index].FILE=='filejin/'))) return;
            this.loadFile(this.setBook,this.list[this.listindex].FILE+this.list[this.listindex].TITLE+".txt","text");
        },

        setBook: function setBook() {
			if(this.text[0]=='出' && this.text[1]=='错') return;
			if(this.test) this.getNote();
            let line=""; let substart=0; let sublength=0;  let subtitle=0;
            for(let i=0;i<this.text.length;i++) {
                line+=this.text[i];
                if(this.text[i]=="\n") {
					if(this.list[this.listindex].F_EVAL==null) this.list[this.listindex].F_EVAL="line[0]=='●'";
                    if(eval(this.list[this.listindex].F_EVAL) && line.replace(/(^\s*)|(\s*$)/g, "").length>0){
                        sublength=i-line.length-substart+1;
						//console.log(i+" "+line.length+" "+substart+" "+sublength)
                        if(subtitle) this.subinfo.push({'start':substart,'length':sublength,'title':subtitle});
                        substart=i-line.length+1;
						//console.log(substart)
                        subtitle=line.replace(/(^\s*)|(\s*$)/g, "").replace(/　/g, " ");
                    }
                    line="";
                }
            }
            sublength=this.text.length-substart;
            this.subinfo.push({'start':substart,'length':sublength,'title':subtitle});
			if(this.subinfo[0].start>0) this.subinfo.unshift({'start':0,'length':this.subinfo[0].start,'title':"目录页"});
			
			if(this.searchstart!=-1){
				let i=0;
				for(;i<this.subinfo.length;i++){
					if(this.subinfo[i].start==this.searchstart) break;
				}
				//this.searchstart=-1;
				if(i<this.subinfo.length)this.getZhang(i);
			}
			
			if(this.tozhang!=""){			
				for(var j=0;j<this.subinfo.length;j++) if(this.subinfo[j].title==this.tozhang) {this.tozhang="";this.getZhang(j);break;}
				this.tozhang="";
			}
        },
		
		getNote: function getNote() {
			this.note="";
			this.loadFile(this.setNote,"notes/"+this.list[this.listindex].TITLE+".txt","note");
        },
		
		setNote: function setNote() {
			if(this.note[0]=='出' && this.note[1]=='错') {this.note="";return;}
			//else console.log(this.note);
        },
		
		
		listSelect: function listSelect(){
			this.listselect=!this.listselect;
			this.$forceUpdate();
		},
		
		startSearch: function startSearch() {
			//this.milliseconds = new Date().getTime();
			if(this.msg.indexOf('function')<0) this.msg=this.msg.replace(/(^\s*)|(\s*$)/g, "").replace(/,/g," ").replace(/，/g," ");
			if(this.msg=="")return;
			if(!this.msgOne)this.listindex=0;
			this.search=true;
			this.searchrst=[];
			if(this.msgOne)this.oneSearch();else this.nextSearch();			 
        },
		
		endSearch: function endSearch() {
			//console.log((new Date().getTime() - this.milliseconds) / 1000 + " s");
			this.listindex=0;
			this.search=false;
			//this.listselect=false;
			this.text="";
			this.depth=3;
			//this.$forceUpdate();
        },
		
		doSearch: function doSearch() {
			if(this.text[0]=='出' && this.text[1]=='错') { if(!this.msgOne)this.listindex=0; this.search=false;document.getElementById("searching").innerHTML="搜索出错";return;}
			
			let line=""; let linen="";//let substart=0; let sublength=0;  let subtitle=0;
			var msg="";var search="";var nbreak=120;dbreak=300;	
			 
			if(this.msg.indexOf('function')<0){
				msg=this.msg.split(' ');
				for(let i=0;i<msg.length;i++) {
					if(i>0) search+=" && ";
					if(msg[i][0]=="-") search+='linen.indexOf("'+msg[i]+'")<0';
					else search+='linen.indexOf("'+msg[i]+'")>=0';
				}
				//console.log(search)
			}
			else {
				search=this.msg;
				nbreak=10;
				dbreak=10;	
			}
			let jstart=0;//卷始
			let jtitle="目录页";
			let getjtitle=false;
			//console.log(search)
            for(let i=0;i<this.text.length;i++) {
			
                line+=this.text[i];
                if(this.text[i]=="\n" || i==this.text.length-1) {
					if(this.list[this.listindex].F_EVAL==null) this.list[this.listindex].F_EVAL="line[0]=='●'";
                    if(eval(this.list[this.listindex].F_EVAL) && line.replace(/(^\s*)|(\s*$)/g, "").length>0){
                         jstart=i-line.length+1;
						 jtitle=line;
						 getjtitle=true;
                    }
                    line="";					
                }
								
				linen+=this.text[i];
			
                if(getjtitle || (this.text[i]=="\n" && linen.length>nbreak) || i==this.text.length-1 || ( (this.text[i]=="。"||this.text[i]=="？"||this.text[i]=="！") && linen.length>dbreak)) {
					if(eval(search)){
						let content="";
						if(getjtitle && eval(search.replace("linen","jtitle"))) content=jtitle;
						else content=linen;
						if(this.msg.indexOf('function')<0){																				
							for(let j=0;j<msg.length;j++) content=content.replace(new RegExp(msg[j],"gm"),"<span style='color:red'>"+msg[j]+"</span>");							
						}					
						//content=content.replace(/\r\n/g,"<br>").replace(/\n/g,"<br>");
						this.searchrst.push({
							'listindex':this.listindex,
							'jstart':jstart,
							'jtitle':jtitle.replace(/(^\s*)|(\s*$)/g, ""),
							'content':content,
						});

						if(this.searchrst.length>=this.recordmax) {this.endSearch(); return;}
                    }
                    linen="";
					getjtitle=false;
                }
				
            }
			
			if(!this.msgOne){this.listindex++;this.nextSearch();}
			else {this.search=false; this.text=""; this.depth=3;}
        },
		
		nextSearch: function nextSearch() {
			for(;this.listindex<this.list.length;this.listindex++) {
				if(this.list[this.listindex].fliter && 
					( this.list[this.listindex].FILE=='file/' || (this.test && (this.list[this.listindex].FILE=='filewai/'||this.list[this.listindex].FILE=='filegu/'||this.list[this.listindex].FILE=='filejin/'))) && 
					( (this.listselect && this.list[this.listindex].selected) || !this.listselect )){
					//this.$forceUpdate();
					//alert(this.list[this.listindex].TITLE);
					document.getElementById("searching").innerHTML="<br>正在搜索《"+
					this.list[this.listindex].TITLE+"》...  已找到："+this.searchrst.length+"/"+this.recordmax;
					this.loadFile(this.doSearch,this.list[this.listindex].FILE+this.list[this.listindex].TITLE+".txt","text");
					return;
				}
			}
			this.endSearch();
			this.search=false;
        },
		
		oneSearch: function oneSearch() {
			this.loadFile(this.doSearch,this.list[this.listindex].FILE+this.list[this.listindex].TITLE+".txt","text");
        },
		
        loadFile: function loadFile(fn,name,t) {
			let _this=this; 
			//name=this.list[this.listindex].FILE+this.list[this.listindex].TITLE+".txt";
			if(document.location.protocol === "file:" && navigator.userAgent.indexOf("Android")<0){
				//console.log("aa")
				$.ajax({
					url: name,
					success: function(data, status) {
						_this[t]=data;
						fn();
					},
					error: function(data, status) {
						_this[t]='出错了,Err：' + JSON.stringify(arguments);
						fn();
					}
				});				
			}
			else{
				//console.log("bb")
				let xhr = new XMLHttpRequest()			
				xhr.open('GET', name, true);
				xhr.overrideMimeType("text/html;charset=utf-8");//默认utf-8
				xhr.send();				
				xhr.onreadystatechange = function() {
					if ( xhr.readyState == 4 ) {
						if ( xhr.status == 200 ) {
							_this[t]=xhr.responseText;
							fn();
						}
						else {
							_this[t]='出错了,Err：' + xhr.status;	
							fn();
						}							
					}
				}				
			}			
		},
	},
	updated: function updated(){
		//console.log()
		document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.depth==0) document.title="书卷集";
        else if(this.depth==3) document.title="搜索页";
		else if(this.depth==1 || this.depth==2)  document.title=this.list[this.listindex].TITLE;
	},
});


};
</script>
</html>
