<!DOCTYPE html>
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060; </script>
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />	
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="../../main/js/vue.min.js"></script>
	<script src="species.js"></script>
	<script src="info.js"></script>
	<style>
	.myimg1{
		max-height: 60vh;
		left:calc(50% - 50vh);
	}
	
	.waterfall {
		width: 100%;
		column-gap:10px;
		column-count: 4;
		margin: 0 auto;
		padding-top: 10px;
	}
	.water {
		padding: 2px;
		margin-bottom: 6px;
		break-inside: avoid;
		border: 1px solid #000;
		background:#fff;
		overflow: hidden;
	}
	.water img {
		width: 100%;
		cursor: pointer;
		transition: all 0.6s;
	}
	.water img:hover{
		transform: scale(1.1);
	}
	.water p {
		line-height: 30px;
	}
	.waterfall iframe{
		width:100%;
		height:100%;
		border: medium none;
	}
	@media screen and (max-device-width:640px){
		.waterfall {
			column-count: 2;
		}
		.water p {
			font-size: 36px;
			line-height: 36px;
		}
	}
	</style>
	<title>树状图</title>
<body>
	<div id="main">
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br/><br/><br/>
		<div id="all" v-cloak>
			<div v-if="id==-1">
				<div class="title" @click="test=!test;reSet();" align="center">树状图</div>
				<div class="desc2">万物苍生 拍摄搜集于此<br>
				列阵为页 止于纲目<br>
				浅蓝链是所遇 灰色是未遇<br>
				</div>
				<br/><div class="family" style="text-align:center;"><a href="species.html">分类页</a> <a href="index.html">百物卷</a></div>	
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 500 528" enable-background="new 0 0 500 528" xml:space="preserve">
						<g id="图层_3">
							<path fill="#2BC11F" d="M438.8671,402.2343l-22.8602-11.9636l13.0695-21.1812l-20.584,18.4987l-35.9322,13.1073l5.5437-14.4568
								l-14.1353,17.5908l-26.2521,9.5762l5.9271-15.4567l-15.1128,18.8074l-34.8367,12.7076l5.9495-15.515l-15.1699,18.8784
								L236.799,450.218L242,432.5367l-12.3876,20.3028l-19.5875,7.1451l0.0104-27.5009l25.1928-20.1964l-25.1899,12.6767l0.0058-15.3214
								l25.4138-16.4808l-25.4106,8.2454l0.0051-13.4318l24.9912-13.8154l18.8629,1.3425l25.7675,9.5965l-19.8956-14.6579l18.7785-15.4639
								l-24.6295,10.5018l-9.0223-0.6421l6.3459-6.2068l22.6991-21.2034l-24.3383,13.1057l-4.7952-24.9699l-2.0849,27.4128
								l-12.9526,12.6686l-19.7225,10.9028l0.0112-29.6761l25.4578-40.7199l28.2657-7.8964l-23.4885,0.2552l17.1585-27.4452
								l29.3627-8.2029l-24.4001,0.2651l15.455-24.7203l28.9455-8.0862l-24.0534,0.2614l19.66-31.4465l20.2454-9.5061l26.2642,13.5175
								l-18.7737-17.0347l41.1992-19.3449l18.0676,31.5483l-0.4551,18.5312l-17.9052,24.8478l17.6489-14.4135l-0.4926,20.0555
								l-17.6127,24.442l17.3607-14.1781l-0.3371,13.7234l-13.0881,26.2695l17.545-19.8679l14.4268,21.5429l-8.9377-25.6589
								l0.7485-30.4759l15.9151,14.9635l-15.6617-25.2802l0.5006-20.3818l21.9125,11.4107l-21.7045-19.8839l0.0538-2.187l20.9218-4.7218
								l27.1414,4.0889l-21.7421-9.8079l20.0032-15.7477l-26.098,11.3719l-22.2481,5.0211l-18.1795-31.7437l2.2592-7.9163l20.8495-4.6145
								l-18.9948-1.8848l3.8497-13.4897l8.2567-8.1395l27.5178,5.4028l-21.8453-10.9947l4.1603-4.1013l23.1465-17.3149l-22.8817,9.0343
								l5.0148-25.2274l-13.3265,27.3997l-13.0743,12.8887l-15.1413-25.8898l-0.0186-28.5201l-5.2582,19.4976l-6.4745-11.0707
								l-11.3531-27.0143l3.2418,24.6799l-22.3815-9.2999L349.1038,81.28l16.1311,27.5822l-21.1249-3.2334l26.1329,11.7964l7.2079,12.3248
								l-7.6163,26.6884l-25.7481,12.0899l2.066-21.1923l-9.2028,24.5433l-32.0062,15.0284l5.9185-20.2533l-11.9537,19.6793
								l-24.8759-22.5162l3.8586-29.9488l-10.0122,24.379l-18.7529-16.974l3.8007-29.4994l-9.8619,24.0131l-27.7746-25.14l-3.2622-7.9797
								l17.0084-22.7563l-19.9642,15.526l-3.9321-9.6183l11.0579-25.5134L201.8937,77.878l-5.1482-12.5933l11.2374-25.9277
								l-14.5365,17.8576l-8.818-21.57l-0.0821,0.0336l5.2833-23.5466l-12.1033,22.4219l-25.7919-4.7057l24.203,11.4541l3.231,7.9031
								l-25.8652,0.1531l29.0295,7.587l10.0151,24.4976l-24.5733,0.1454l27.5796,7.208l9.6086,23.5032l-39.1819,10.3629l-24.4117-15.1931
								l16.7859,17.2099l-26.8177,7.0928l-26.2412-19.5615l18.0135,21.7375l-26.5811,7.0302L75,126.5367l11.8765,13.4172L63,139.5367
								l24.1769,6.8766L65,155.5367l23.8399-3.1319L76,168.5367l17.4224-12.6847l-0.9941,21.2342l8.5649-26.8921l38.9293-10.296
								l-9.6914,18.5784l19.4005-21.1462l62.0926-16.4222l10.6343,9.6255l-23.3507,10.258l29.6531-4.5535l19.0693,17.2604l-21.7709,9.564
								l27.6469-4.2454l18.3731,16.6302l-22.4218,9.8499l28.4734-4.3723l15.3219,13.8685l-10.8844,17.4097L264,197.5367l14.5178,20.9852
								l-15.6219,24.9874l-17.1272-16.8638l13.4117,22.8066l-17.9836,28.765l-17.776-17.5026l13.9198,23.6707l-32.6935,52.2935
								l-21.2757-19.2629l-2.0151-24.5588l-3.5464,19.5236l-28.7979-26.0734l4.5489-14.2077l18.3077-22.8977l-20.3786,14.8218
								l-4.3749-25.3876l-2.7056,29.2522l-3.5376,11.0491l-17.141-15.5193l-2.4126-29.404l-4.246,23.3754l-23.799-21.5474l-2.1998-26.8101
								l-3.8715,21.3132l-8.1497-7.3787l-11.7671-24.9647l3.8074,23.8875l-25.8074-4.6604l26.314,12.4797l19.3276,17.4988l-19.8699,0.3138
								l27.9639,7.0143l22.2151,20.1131l-19.2578,0.3041l27.1023,6.7982l25.6657,23.2371l-21.019,0.332l29.5809,7.4199l18.0223,16.317
								l-20.5668,0.3248l28.9445,7.2603l10.3599,9.3795l-0.0056,14.5479l-24.7689-6.4449l24.7661,14.0525l-0.016,42.181l-25.005-6.5064
								l25.0021,14.1865l-0.0092,24.1573l-35.6525-10.2387L154,412.5367l3.0024,17.3013l-48.223-13.8486l-9.5298-9.8975l-1.735-27.5977
								l-4.2132,21.42l-26.2622-27.2751l6.9993-13.9986l17.5387-20.6886l-19.5383,13.6622l-9.799-24.2049l3.3081,25.8508l-8.0411,16.0823
								l-20.9997-10.1288l22.7214,19.7303l9.8332,10.2124L55,396.5367l19.0493-2.2006l23.5733,24.4826l-25.4647,9.9029L52,423.5367
								l18.166,12.0469L62,451.5367l15.4272-14.1346l11.6282-4.5221L92,453.5367l3.668-23.2283l11.3605-4.418l24.9926,7.1774
								l-14.1063,9.8635l22.7857-7.371l59.3271,17.0375l-0.0098,25.843l-4.4244-0.8849l-13.8729-17.2605l5.5748,15.6009l-10.6968-2.1393
								L158,464.5367l14.9863,14.7733L158,486.5367l21.5556-1.9894l20.4584,4.0917l-0.0098,25.9621l-24.9894-1.901l24.9865,9.7697
								L200,525.5347l10,0.0039l0.0057-15.0061l23.9502-6.4722l17.8139,14.3354L238.3027,499.32l18.3672-14.608l-23.0831,9.0886
								l-23.5771,6.3714l0.0112-29.5411l43.1005-15.722l22.1346,11.9953l22.129,17.8078l-13.4767-19.0893l22.0647-5.1657l-24.6754-1.6513
								l-15.6335-8.4721l47.5148-17.3323l20.3888,10.5855l-13.1244-13.2354l28.0424-10.2292l22.082,11.4647l-14.2144-14.3346
								l25.0463-9.1364l20.168,10.4709l-12.9823-13.0921l24.021-8.7623L438.8671,402.2343z M74.8008,225.131l-0.6714,0.7416l0.1906-0.5932
								L74.8008,225.131z"/>
						</g>
						<g v-for="(item,i) in words">
							<text @click.prevent="if(item.num>0){S_ORDER=item.n;setClass(item.n);id=-3}"
								:transform='"matrix(1 0 0 1 "+item.x+" "+item.y+")"' font-size="12px" 
								:style="item.num>0?'fill:DarkCyan;cursor:pointer;':'fill:Gray'" >{{item.n}}{{item.num>0?item.num:""}}</text>
						</g>
						<g id="图层_1" fill="#FFFF00" font-size="12px">
							<text transform="matrix(0.497 0.8678 -0.8678 0.497 370.9365 164.3681)" >锦葵类</text>
							<text transform="matrix(0.271 -0.9626 0.9626 0.271 379.4066 158.5678)" >豆类</text>
							<text transform="matrix(0.7721 0.6354 -0.6354 0.7721 267.6578 171.2332)" >超菊类</text>
							<text transform="matrix(0.3747 0.9272 -0.9272 0.3747 192.927 79.0305)" >桔梗类</text>
							<text transform="matrix(0.9663 -0.2575 0.2575 0.9663 173.3934 130.3352)" >唇形类</text>
							<text transform="matrix(0.917 -0.3989 0.3989 0.917 302.9449 197.567)" >蔷薇类</text>
							<text transform="matrix(0.5102 -0.8601 0.8601 0.5102 212.138 342.6879)" >双子叶</text>
							<text transform="matrix(0.7249 0.6889 -0.6889 0.7249 173.2631 320.187)" >单子叶</text>
							<text transform="matrix(0.8636 -0.5041 0.5041 0.8636 208.7506 388.9979)" >基部类群</text>
							<text transform="matrix(0.9696 0.2447 -0.2447 0.9696 153.0258 440.1433)" >裸子植物</text>
							<text transform="matrix(0.9389 -0.3442 0.3442 0.9389 210.3698 469.6983)" >蕨类</text>
							<text transform="matrix(0.9841 0.1775 -0.1775 0.9841 167.9393 482.271)" >石松类</text>
						</g>
					</svg>
				<br/><br/>
				<div align="center"><a href="../../index.html" style="cursor:pointer;font-weight:bold;">▶返回百物卷◀</a></div>
			</div>
			<div v-if="id==-2">
				<div class="title" align='center'>{{S_CLASS}}</div><br>{{getInfo()}}
				<div id="waterfall" class="waterfall" >
					<div class="water" v-for="(item, i) in list" v-if="item.S_CLASS==S_CLASS && item.F_NAME && (i==0 || item.S_ORDER!=list[i-1].S_ORDER)"
						@click.prevent="S_CLASS=item.S_CLASS;S_ORDER=item.S_ORDER;(i==list.length-1 || item.S_ORDER!=list[i+1].S_ORDER)?id=i:id=-3">
						<img :src='item.F_GROUP+"/"+item.F_NAME.split(",")[0]' @click.prevent="id=i" alt="" />
						<p>{{item.S_ORDER}}{{getOrderChildNum(i)}}：{{item.TITLE}}</p>
					</div>
				</div>
				<br><br>				
				<div align="center">
					<a @click.prevent="id++" style="cursor:pointer;font-weight:bold;">▶返回树状图页◀</a>
				</div>
			</div>
			<div v-if="id==-3">
				<div class="title" align='center'>{{S_CLASS+">"+S_ORDER}}</div><br>{{getInfo()}}
				<div id="waterfall" class="waterfall" >
					<div class="water" v-for="(item, i) in list" v-if="item.S_CLASS==S_CLASS && item.S_ORDER==S_ORDER && item.F_NAME && (i==0 || item.S_FAMILY!=list[i-1].S_FAMILY || item.S_FAMILY==null)"
						@click.prevent="S_CLASS=item.S_CLASS;S_ORDER=item.S_ORDER;S_FAMILY=item.S_FAMILY;(i==list.length-1 || item.S_FAMILY==null || item.S_FAMILY!=list[i+1].S_FAMILY)?id=i:id=-4">
						<img :src='item.F_GROUP+"/"+item.F_NAME.split(",")[0]' @click.prevent="id=i" alt="" />
						<p><span v-if="item.S_FAMILY!=null" >{{item.S_FAMILY}}{{getFamilyChildNum(i)}}：</span>{{item.TITLE}}</p>
					</div>
				</div>
				<br><br>				
				<div align="center">
					<a @click.prevent="id=-1" style="cursor:pointer;font-weight:bold;">▶返回树状图页◀</a>
				</div>
			</div>
			<div v-if="id==-4">
				<div class="title" align='center'>{{S_CLASS+">"+S_ORDER+">"+S_FAMILY}}</div><br>{{getInfo()}}
				<div id="waterfall" class="waterfall" >
					<div class="water" v-for="(item, i) in list" 
						v-if="item.S_CLASS==S_CLASS && item.S_ORDER==S_ORDER && item.S_FAMILY==S_FAMILY && item.F_NAME">
						<img :src='item.F_GROUP+"/"+item.F_NAME.split(",")[0]' @click.prevent="id=i" alt="" />
						<p>{{item.TITLE}}</p>
					</div>
				</div>
				<br><br>				
				<div align="center">
					<a @click.prevent="id++" style="cursor:pointer;font-weight:bold;">▶返回本目◀</a>
				</div>
			</div>
			<div v-if="id>=0">
				<div class="title" align='center'>{{list[id].TITLE}}</div><br>
				<span v-if="list[id].S_PHYLUM!=null" @click.prevent="S_ORDER=list[id].S_ORDER;id=-1" style="cursor:pointer;font-weight:bold;">【{{list[id].S_PHYLUM}}】></span>
				<span v-if="list[id].S_CLASS!=null" @click.prevent="S_CLASS=list[id].S_CLASS;S_ORDER=list[id].S_ORDER;id=-2" style="cursor:pointer;font-weight:bold;">【{{list[id].S_CLASS}}】></span>	
				<span v-if="list[id].S_ORDER!=null" @click.prevent="S_CLASS=list[id].S_CLASS;S_ORDER=list[id].S_ORDER;id=-3" style="cursor:pointer;font-weight:bold;">【{{list[id].S_ORDER}}】></span>
				<span v-if="list[id].S_FAMILY!=null"
					@click.prevent="S_CLASS=list[id].S_CLASS;S_ORDER=list[id].S_ORDER;S_FAMILY=list[id].S_FAMILY;id=-4"
					style="cursor:pointer;font-weight:bold;" >【{{list[id].S_FAMILY}}】></span> {{list[id].TITLE}}<br>
				<span v-if="list[id].F_DESC!=null" >{{list[id].F_DESC}}<br></span>
				<br><div v-for="(item, i) in list[id].F_NAME.split(',')"><img class='myimg' :src='list[id].F_GROUP+"/"+item' /><br/></div>
				<br><br>				
				<div align="center">
					<a @click.prevent="if(id!=-1)prePic();" style="cursor:pointer">◀</a>
					<a @click.prevent="id=-4" style="cursor:pointer;font-weight:bold;">返回本科</a>
					<a @click.prevent="if(id!=-1)nextPic();" style="cursor:pointer">▶</a>
				</div>
			</div>
		</div>
		<div class="footer">Copyright © 2015~Now 鱼儿. All Rights Reserved.</div><br/><br/>
	</div>
</body>
<script>
//http://tolweb.org/tree/
//http://duocet.ibiodiversity.net/index.php
//普通植物 http://species.sciencereading.cn/biology/v/speciesDetails/122/ZW/1709135.html
//藻类 http://haizao.jmu.edu.cn/info/1080/1235.htm
//地衣 https://wenku.baidu.com/view/6dcda3e35acfa1c7ab00cc25.html
//https://taieol.tw/pages/209893

var all=new Vue({
	el: '#all',
	data:{ 	
		list:sfile,
		info:ifile,
		test:false,
		words:[{x:229.333,y:431.5367,n:"木贼目"},{x:17.5,y:406.0367,n:"南洋杉目"},{x:21,y:358.5367,n:"金松目"},{x:87.5,y:337.5367,n:"柏目"},{x:77.5,y:463.5367,n:"麻黄目"},
			{x:18,y:424.0367,n:"百岁兰目"},{x:27.3335,y:463.7037,n:"买麻藤目"},{x:335.9464,y:211.7542,n:"虎耳草目"},{x:324.4431,y:148.3359,n:"葡萄目"},{x:401.5289,y:151.2798,n:"蒺藜目"},
			{x:167.9612,y:249.6264,n:"露兜树目"},{x:143.5276,y:237.6358,n:"薯蓣目"},{x:69.4766,y:278.4417,n:"百合目"},{x:94.9348,y:232.4664,n:"天门冬目"},{x:224.1895,y:412.7855,n:"无油樟目"},
			{x:158.1327,y:402.0031,n:"睡莲目"},{x:217.1895,y:393.4701,n:"木兰藤目"},{x:235.8165,y:325.9999,n:"木兰目"},{x:273.95,y:339.4904,n:"樟目"},{x:278.5575,y:355.8401,n:"胡椒目"},
			{x:279.2835,y:388.1226,n:"白樟目"},{x:129.1895,y:358.9572,n:"金粟兰目"},{x:128.1895,y:332.6653,n:"菖蒲目"},{x:168.211,y:292.8574,n:"泽泻目"},{x:88.1624,y:310.0451,n:"无叶莲目"},
			{x:38.8378,y:252.0103,n:"棕榈目"},{x:88.6221,y:205.0321,n:"禾本目"},{x:37.2509,y:199.2479,n:"鸭跖草目"},{x:25.0878,y:221.3381,n:"姜目"},{x:263.4717,y:300.2542,n:"金鱼藻目"},
			{x:189.4599,y:263.155,n:"毛茛目"},{x:284.8238,y:266.8614,n:"山龙眼目"},{x:200.5399,y:228.9403,n:"昆栏树目"},{x:305.8243,y:234.0141,n:"黄杨目"},{x:219.0397,y:203.3685,n:"大叶草目"},
			{x:286.7831,y:166.6938,n:"五桠果目"},{x:321.3779,y:113.6673,n:"豆目"},{x:363.0235,y:65.1688,n:"蔷薇目"},{x:304.5223,y:64.1688,n:"壳斗目"},{x:330.1148,y:46.1688,n:"葫芦目"},
			{x:423.2818,y:134.002,n:"卫矛目"},{x:395.3636,y:80.3013,n:"金虎尾目"},{x:417.8413,y:96.3012,n:"酢浆草目"},{x:421.5352,y:173.2729,n:"牻牛儿苗目"},{x:432.3208,y:211.8658,n:"桃金娘目"},
			{x:409.5352,y:234.2384,n:"缨子木目"},{x:337.2202,y:250.5211,n:"苦榄木目"},{x:405.0352,y:267.3199,n:"无患子目"},{x:330.566,y:281.8281,n:"腺椒树目"},{x:393.0352,y:307.3616,n:"十字花目"},
			{x:348.7073,y:308.3616,n:"锦葵目"},{x:202.8712,y:188.8616,n:"红珊藤目"},{x:271.4345,y:131.8,n:"檀香目"},{x:191.5352,y:168.5864,n:"石竹目"},{x:246.7165,y:111.0327,n:"山茱萸目"},
			{x:154.5352,y:144.9644,n:"杜鹃花目"},{x:123.6025,y:105.9786,n:"茶茱萸目"},{x:70.5765,y:111.0375,n:"水螅花目"},{x:110.0352,y:168.9109,n:"丝缨花目"},{x:41.4289,y:126.6725,n:"紫草目"},
			{x:29.7623,y:143.5223,n:"龙胆目"},{x:20.7623,y:158.7401,n:"黄漆姑目"},{x:42.8378,y:173.3657,n:"唇形目"},{x:81.8645,y:183.6547,n:"茄目"},{x:230.75,y:80.5367,n:"冬青目"},
			{x:143.25,y:82.5367,n:"菊目"},{x:216.25,y:59.8927,n:"南鼠刺目"},{x:208.25,y:41.0367,n:"绒球花目"},{x:118.1895,y:52.0367,n:"伞形目"},{x:189,y:12.2867,n:"川续断目"},
			{x:105.5,y:30.5367,n:"盔被花目"},{x:122.5,y:413.0367,n:"苏铁目"},{x:98,y:452.0367,n:"银杏目"},{x:88,y:378.2037,n:"松目"},{x:41,y:326.0367,n:"红豆杉目"},
			{x:304.667,y:468.2037,n:"松叶蕨目"},{x:300,y:486.5367,n:"瓶尔小草目"},{x:276,y:414.2037,n:"合囊蕨目"},{x:332.5,y:450.0367,n:"紫萁目"},{x:327.125,y:398.1617,n:"膜蕨目"},
			{x:367.5,y:439.1617,n:"里白目"},{x:364.5,y:385.0367,n:"莎草蕨目"},{x:399.5,y:426.5367,n:"槐叶蘋目"},{x:439.333,y:406.7037,n:"桫椤目"},{x:410,y:366.7037,n:"水龙骨目"},
			{x:157,y:460.5367,n:"石松目"},{x:121,y:468.0367,n:"水韭目"},{x:122,y:486.2867,n:"卷柏目"},{x:255.125,y:489.9117,n:"苔类"},{x:251.7698,y:519.7867,n:"藓类"},{x:151,y:515.6761,n:"藻类"},],
		N_NAME:{
			"樟科":"樟目","棕榈科":"棕榈目","豆科":"豆目","酢浆草科":"酢浆草目","桑科":"蔷薇目","天南星科":"泽泻目","罂粟科":"毛茛目",
			"葡萄科":"葡萄目","薯蓣科":"薯蓣目","睡莲科":"睡莲目","菊科":"菊目","莎草科":"禾本目","芸香科":"无患子目","藤黄科":"大戟目",
			"珊瑚藻科":"藻类","观音座莲科":"合囊蕨目",
			"桫椤科":"桫椤目","里白科":"里白目","松科":"松目","柏科":"柏目",
			"石竹科":"石竹目","紫茉莉科":"石竹目","仙人掌科":"石竹目","马齿苋科":"石竹目","商陆科":"石竹目","苋科":"石竹目","蓼科":"石竹目","藜科":"石竹目",
			"茄科":"茄目","旋花科":"茄目",
			"鸭跖草科":"鸭跖草目","雨久花科":"鸭跖草目",
			"姜科":"姜目","美人蕉科":"姜目","芭蕉科":"姜目",
			"天门冬科":"天门冬目","石蒜科":"天门冬目",
			"车前科":"唇形目","木樨科":"唇形目","紫葳科":"唇形目","列当科":"唇形目","唇形科":"唇形目","爵床科":"唇形目","玄参科":"唇形目","马鞭草科":"唇形目","木犀科":"唇形目",
			"壳斗科":"壳斗目","杨梅科":"壳斗目",
			"西番莲科":"金虎尾目","堇菜科":"金虎尾目","藤黄科":"金虎尾目","杨柳科":"金虎尾目",
			"龙脑香科":"锦葵目","秋海棠科":"葫芦目",
			"番木瓜科":"十字花目","山柑科":"十字花目","十字花科":"十字花目",				
			"茜草科":"龙胆目","夹竹桃科":"龙胆目","马钱科":"龙胆目",
			"报春花科":"杜鹃花目","柿科":"杜鹃花目","山矾科":"杜鹃花目","紫金牛科":"杜鹃花目",
			"葫芦藓科":"藓类","金发藓科":"藓类","丛藓科":"藓类",			
			},
		id:-1,
		S_CLASS:"双子叶植物纲",
		S_ORDER:"",
		S_FAMILY:"",
	},
	methods: {
		reSet: function reSet(){		
			this.list=[];
			for(let i=0;i<sfile.length;i++) 
				if(this.test || sfile[i].F_GROUP!="wai") this.list.push(sfile[i]);
				else if(i==0 || sfile[i].S_ORDER!=sfile[i-1].S_ORDER) {
					let tmpObj ={};
					tmpObj["S_DOMAIN"] = sfile[i]["S_DOMAIN"];tmpObj["S_KINGDOM"] = sfile[i]["S_KINGDOM"];tmpObj["S_PHYLUM"] = sfile[i]["S_PHYLUM"];
					tmpObj["S_CLASS"] = sfile[i]["S_CLASS"];tmpObj["S_ORDER"] = sfile[i]["S_ORDER"];
					this.list.push(tmpObj);
				}
			this.setNewOrderName();this.setOrderId();
			this.$forceUpdate();		
		},
		prePic: function prePic(){
			let i=this.id-1;
			while(i!=-1) if(this.list[i].F_NAME!=null) break; else i--;
			this.id=i;
		},
		nextPic: function nextPic(){
			let i=this.id+1;
			while(i<this.list.length) if(this.list[i].F_NAME!=null) break; else i++;
			if(i>=this.list.length)i=-1;
			this.id=i;
		},
		setNewOrderName: function setNewOrderName(){
		//console.log(this.N_NAME["樟科"])
			for(let i=0;i<this.list.length;i++) 
				if(this.list[i].F_NAME!=null && this.list[i].S_FAMILY!=null && this.N_NAME[this.list[i].S_FAMILY]!=null)
					this.list[i].S_ORDER=this.N_NAME[this.list[i].S_FAMILY];
					
			this.list.sort(function (a,b){if(a.S_ORDER>b.S_ORDER)return 1;else return -1;});
		},
		setOrderId: function setOrderId(){
			for(let j=0;j<this.words.length;j++) {this.words[j].id=-1;this.words[j].num=0;}
			for(let i=0;i<this.list.length;i++) if(this.list[i].F_NAME!=null && (i==0 || this.list[i].S_ORDER!=this.list[i-1].S_ORDER) ){
				for(let j=0;j<this.words.length;j++) if(this.words[j].n==this.list[i].S_ORDER) {this.words[j].id=i;this.words[j].num=this.getOrderChildNum(i);break;}
			}
		},
		setClass: function setClass(s){
			let i=0;
			while(i<this.list.length) if(this.list[i].S_ORDER==s) break; else i++;
			if(i==this.list.length) {this.S_CLASS="";return -1;}
			else {this.S_CLASS=this.list[i].S_CLASS;return i;}
		},
		getFamilyChildNum: function getFamilyChildNum(j){
			if(this.list[j].S_FAMILY==null)return "";
			let i=j+1;
			while(i<this.list.length) if(this.list[i].S_FAMILY!=this.list[j].S_FAMILY) break; else i++;
			if(i-j==1)return "";
			return j-i;
		},
		getOrderChildNum: function getOrderChildNum(j){
			if(j==-1)return 0;
			let i=j+1;let k=0;if(this.list[j].F_NAME!=null)k++;
			while(i<this.list.length) 
				if(this.list[i].S_ORDER!=this.list[j].S_ORDER) break; 
				else {if(this.list[i].F_NAME!=null && this.list[i].S_FAMILY!=this.list[i-1].S_FAMILY)k++; i++;}
			return k;
		},
		getOrderGrandChildNum: function getOrderChildNum(j){
			let i=j+1;let k=0;if(this.list[j].F_NAME!=null)k++;
			while(i<this.list.length) 
				if(this.list[i].S_ORDER!=this.list[j].S_ORDER) break; 
				else {if(this.list[i].F_NAME!=null)k++; i++;}
			if(k<=1)return "";
			return "/"+k;
		},
		getClassChildNum: function getClassChildNum(j){
			let i=j+1;let k=0;if(this.list[j].F_NAME!=null)k++;
			while(i<this.list.length) 
				if(this.list[i].S_CLASS!=this.list[j].S_CLASS) break; 
				else {if(this.list[i].F_NAME!=null && this.list[i].S_ORDER!=this.list[i-1].S_ORDER)k++; i++;}
			if(k==0)return "";
			return "/"+k;
		},
		getClassGrandChildNum: function getClassGrandChildNum(j){
			let i=j+1;let k=0;if(this.list[j].F_NAME!=null)k++;
			while(i<this.list.length) 
				if(this.list[i].S_CLASS!=this.list[j].S_CLASS) break; 
				else {if(this.list[i].F_NAME!=null && 
				(this.list[i].S_ORDER!=this.list[i-1].S_ORDER || this.list[i].S_FAMILY!=this.list[i-1].S_FAMILY) )k++; i++;}
			if(k==0)return "";
			return "/"+k;
		},
		getClassGrandGrandChildNum: function getClassGrandGrandChildNum(j){
			let i=j+1;let k=0;if(this.list[j].F_NAME!=null)k++;
			while(i<this.list.length) 
				if(this.list[i].S_CLASS!=this.list[j].S_CLASS) break; 
				else {if(this.list[i].F_NAME!=null)k++; i++;}
			if(k==0)return "";
			return "/"+k;
		},
		getInfo: function getInfo(){
			let str="";
			switch(this.id) {
				 case -2:
					for(let i=0;i<this.info.length;i++) if(this.S_CLASS==this.info[i].S_CLASS) {str=this.info[i].INFO; break;}
					break;
				 case -3:
					for(let i=0;i<this.info.length;i++) if(this.S_CLASS==this.info[i].S_CLASS && this.S_ORDER==this.info[i].S_ORDER) {str=this.info[i].INFO; break;}
					break;
				 case -4:
					for(let i=0;i<this.info.length;i++) if(this.S_CLASS==this.info[i].S_CLASS && 
						this.S_ORDER==this.info[i].S_ORDER && this.S_FAMILY==this.info[i].S_FAMILY) {str=this.info[i].INFO; break;}
				 break;
				 default:break;
			} 
			return str;
		},
	},
	created: function created() {
		//console.log(this.words.length);	
		
		let url=self.location.href;
		if(url.indexOf('=')>=0) this.id=decodeURI(url.split('sid=')[1]);
		var tmp="";
		if(this.id>=0) tmp=this.list[this.id].TITLE;
		
		this.setNewOrderName();this.setOrderId();
		if(self.location.href.substring(0,4)!="http")this.test=true;
		else this.reSet();
		
		if(this.id>=0) for(var i in this.list) if(this.list[i].TITLE!=null && this.list[i].TITLE==tmp) {
			this.id=i;
			this.S_CLASS=this.list[i].S_CLASS;
			this.S_ORDER=this.list[i].S_ORDER;
			this.S_FAMILY=this.list[i].S_FAMILY;
			break;
		}
		
		var _this = this;
        document.onkeydown = function(e) {
            let key = window.event.keyCode;
			if (key == 36) _this.id=-1;
            if (key == 37) {
                if(_this.id!=-1) _this.prePic();
            }
			if (key == 39) {
                if(_this.id!=-1) _this.nextPic();
            }
        };

	},
	beforeUpdate: function beforeUpdate(){
		if(this.id>=0){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
		}
	},
	updated: function updated(){
		if(this.id<0) document.body.scrollTop=document.documentElement.scrollTop=this.scrolltop;
		else document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.id>=0)document.title=this.list[this.id].TITLE;
		else if(this.id==-2) document.title="树状图·"+this.S_CLASS;
		else if(this.id==-3) document.title="树状图·"+this.S_CLASS+"·"+this.S_ORDER;
		else if(this.id==-4) document.title="树状图·"+this.S_CLASS+"·"+this.S_ORDER+"·"+this.S_FAMILY;
		else document.title="树状图";	
	},
});
</script>
</html>