body{
	background:#069;
	background-image: url(http://ww2.sinaimg.cn/woriginal/68d84d6dgw1eurpvggj66j21kw1esb29.jpg);
	/*background-image: url(img/0.jpg);*/
	}

.square-box{
    width: 242px;
    height: 184px;
    box-sizing: border-box;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateanimation 10s ease;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 2500px;
    -webkit-animation: rotateanimation 10s ease;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
	-ms-transform-style: preserve-3d;
    -ms-animation: rotateanimation 10s ease;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    margin:242px auto;
}
.square-box>div{
    position: absolute;
}
.square-box:hover{
     -webkit-animation-play-state:paused;
}
.square-box>.s1{
    width: 242px;
    height: 184px;
    transform: translateZ(160px);
	-webkit-transform:translateZ(160px);
	-ms-transform:translateZ(160px);
    background:url(img/s1.jpg);
}
.square-box>.s2{
    width: 242px;
    height: 184px;
    transform: rotateX(-120deg) translateZ(160px);
	-webkit-transform:rotateX(-60deg) translateZ(160px);
	-ms-transform:rotateX(-60deg) translateZ(160px);
    background:url(img/s2.jpg);
}
.square-box>.s3{
    width: 242px;
    height: 184px;
	transform: rotateX(-60deg) translateZ(160px);
	-webkit-transform:rotateX(-120deg) translateZ(160px);
	-ms-transform:rotateX(-120deg) translateZ(160px);
	background:url(img/s3.jpg);
}
.square-box>.s4{
    width: 242px;
    height: 184px;
    transform: rotateX(180deg) translateZ(160px);
	-webkit-transform:rotateX(180deg) translateZ(160px);
	-ms-transform:rotateX(180deg) translateZ(160px);
    background: url(img/s4.jpg);
}
.square-box>.s5{
	width: 242px;
    height: 184px;
    transform: rotateX(120deg) translateZ(160px);
	-webkit-transform:rotateX(120deg) translateZ(160px);
	-ms-transform:rotateX(120deg) translateZ(160px);
    background: url(img/s5.jpg);
}
.square-box>.s6{
	width: 242px;
    height: 184px;
    transform: rotateX(60deg) translateZ(160px);
	-webkit-transform:rotateX(60deg) translateZ(160px);
	-ms-transform:rotateX(60deg) translateZ(160px);
    background: url(img/s6.jpg);
}
.square-box>.bottom{
	width: 368px;
    height: 323px;
    left:0px;
	top:-68px;
    transform: rotateY(270deg) rotateZ(90deg) translateZ(185px);
	-webkit-transform:rotateY(270deg) rotateZ(90deg) translateZ(185px);
	-ms-transform:rotateY(270deg) rotateZ(90deg) translateZ(185px);
    background: url(img/bottom.png);
}
.square-box>.up{
    width: 368px;
    height: 323px;
	left:0px;
	top:-68px;
	background-position:200px 200px;
    transform: rotateY(90deg) rotateZ(90deg) translateZ(58px);
	-webkit-transform:rotateY(90deg) rotateZ(90deg) translateZ(58px);
	-ms-transform:rotateY(90deg) rotateZ(90deg) translateZ(58px);
    background: url(img/up.png);
}
/*添加动画效果*/
@keyframes rotateanimation{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotateanimation{
    0%{
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100%{
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@-ms-keyframes rotateanimation{
    0%{
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100%{
        -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}