<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060; </script>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<style>
		.ret3{
			width:960px;
			height:36px;
			text-align: center;
		}
	</style>
	<title>画卷集</title>
	<script src="paints.js"></script>
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="../../main/js/vue.min.js"></script>
</head>

<body>
	<div id="main" v-cloak>
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br><br>
		<div v-if="id==-1 && P_AUTHOR==''">
			<div class="title" align="center" @click="test=!test;reSet();" >画卷集</div><br><br>
			<div class="desc2">大师的画作有些多，记不住。整理了些，搁这了。<br>
			可简单筛选，随便翻翻便好。版权及带宽所限，<br>
			大图、近现代作品有目无画。仅供交流学习，叮！<br>
			【筛选🔍】灰：无 | 黑：是 | 白：非 | <span @click.prevent="reSet()" style="cursor:pointer;color:green;">重置</span>
			<span @click.prevent="zuopin=!zuopin" style="cursor:pointer;color:green;" v-text="zuopin?'作品':'作者'"></span><br><br><br>									
			</div>
			 <div class="desc2">
				<span v-for="(item,i) in statename" >
					<span :style="'color:'+statecolor[statevalue[i]]" @click="setType(i)" style="cursor:pointer">{{statename[i]}}</span> 
					<span v-if="i==6 || i==15 || i==22 || i==30 || i==38 || i==44 || i==50" ><br></span>
				</span>	
			</div>
			<span v-for="(item, i) in list">
				<span v-if="item.fliter && zuopin">			
					<span class='family' v-if="item.pre<0 || item.P_DYNASTY!=item.preDynasty">
						<br><br><br>{{item.P_DYNASTY}}<br>
					</span>
					<span v-if="!(!test && item.SHOW=='no' && item.P_DYNASTY=='近现代') && (item.pre<0 || (item.P_AUTHOR!=item.preAuthor || item.P_DYNASTY!=item.preDynasty))">
						<br>【<span><span v-if="!test && item.A_EN==null && item.P_DYNASTY!='今人'">{{item.P_AUTHOR}}</span><a 
						v-if="test && item.A_EN==null && item.P_DYNASTY!='今人'" style='color:blue;cursor:pointer'  target="_blank" 
						:href='"http://www.ltfc.net/exhibit/search#category=c1&keyword="+item.P_AUTHOR'>{{item.P_AUTHOR}}</a><a 
						v-if="item.A_EN!=null && item.P_DYNASTY!='今人'" style='color:blue;cursor:pointer'  target="_blank" 
						:href='"https://en.jinzhao.wiki/wiki/"+item.A_EN.replace(/ /g,"_")'>{{item.P_AUTHOR}}</a><a 
						v-if="item.P_DYNASTY=='今人'" style='color:blue;cursor:pointer'  target="_blank" 
						:href='"https://www.baidu.com/s?wd="+item.P_AUTHOR.replace(/ /g,"_")'>{{item.P_AUTHOR}}</a>
						</span>】
						<a style='cursor:pointer' target="_blank" @click.prevent="P_DYNASTY=item.P_DYNASTY,P_AUTHOR=item.P_AUTHOR"> ▶ </a>
					</span>
					<span v-if="test">
						<a style='color:DarkCyan;cursor:pointer' @click="id=i">{{item.P_NAME}}</a>
					</span>
					<span v-if="!test && item.SHOW!='no'">
						<a v-if="item.P_PICS.split('/')[0]!='img' || item.P_DYNASTY=='近现代' || item.P_DYNASTY=='20世纪' || item.P_DYNASTY=='今人' || item.P_AUTHOR[2]=='窟' || item.P_AUTHOR[3]=='洞'" 
						style='color:#000;cursor:pointer' @click="id=i">{{item.P_NAME}}</a>
						<a v-if="!(item.P_PICS.split('/')[0]!='img' || item.P_DYNASTY=='近现代' || item.P_DYNASTY=='20世纪' || item.P_DYNASTY=='今人' || item.P_AUTHOR[2]=='窟' || item.P_AUTHOR[3]=='洞')" 
						style='color:DarkCyan;cursor:pointer' @click="id=i">{{item.P_NAME}}</a>
					</span>
				</span>
				<span v-if="item.fliter && !zuopin">			
					<span class='family' v-if="item.pre<0 || item.P_DYNASTY!=item.preDynasty">
						<br><br><br>{{item.P_DYNASTY}}<br>
					</span>
					<span v-if="!(!test && item.SHOW=='no' && item.P_DYNASTY=='近现代') && (item.pre<0 || (item.P_AUTHOR!=item.preAuthor || item.P_DYNASTY!=item.preDynasty))">
						<span @click.prevent="P_DYNASTY=item.P_DYNASTY,P_AUTHOR=item.P_AUTHOR" style='color:blue;cursor:pointer' target="_blank">{{item.P_AUTHOR}}|</span>
					</span>
				</span>
			</span>
			<br><br><br><div class="ret3"><a href="#main">▶页面顶部◀</a> <a style="cursor:pointer" :href="sessionStorage.getItem('cube')==true?'../../3dindex.html':'../../index.html'"> ▶返回主页◀</a></div>
		</div>
		<div v-if="id==-1 && P_AUTHOR!=''">
			<div class="title" align="center" @click.prevent="test=!test">{{P_DYNASTY}} > {{P_AUTHOR}}</div><br>
			<div id="waterfall" class="waterfall" >
				<div class="water" v-for="(item,i) in list" v-if="item.fliter && (P_DYNASTY==item.P_DYNASTY && P_AUTHOR==item.P_AUTHOR) && (test || ((!test && item.SHOW!='no') && (
					!(item.P_PICS.split('/')[0]!='img' || item.P_DYNASTY=='近现代' || item.P_DYNASTY=='20世纪' || item.P_DYNASTY=='今人' || item.P_AUTHOR[2]=='窟' || item.P_AUTHOR[3]=='洞'))))">
					<img :src='item.P_PICS' @click.prevent="id=i" alt="" />
					<p>{{item.P_NAME}}</p>
				</div>
			</div>
			<br/><br/>
			<div align="center">
				<a @click.prevent="P_DYNASTY='',P_AUTHOR=''" style="cursor:pointer">返回上页</a>
			</div>
		</div>
		<div v-if="id>=0">
			<div class='title' align='center' @click="test=!test;">{{list[id].P_NAME}}</div>
			<div align='center'>
				<a @click.prevent="preAuthor()" style="cursor: pointer;">　◀◀　</a>
				<a @click.prevent="id=getPre(id)" style="cursor: pointer;">　◀　</a>
				【{{id+1}}】
				<a @click.prevent="id=getNext(id)" style="cursor: pointer;">　▶　</a>	
				<a @click.prevent="nextAuthor()" style="cursor: pointer;">　▶▶　</a>
			</div>
            <div class='desc2'>
                <br>{{list[id].P_DYNASTY}} <span v-if="list[id].P_YEAR!=null">{{list[id].P_YEAR}}年 </span>
				{{list[id].P_AUTHOR}} 《{{list[id].P_NAME}}》<br>
                {{list[id].P_TYPE}}<br>
                <span v-if="list[id].P_WIDTH!=null">横：{{list[id].P_WIDTH}}厘米；</span>
                <span v-if="list[id].P_HEIGHT!=null">纵：{{list[id].P_HEIGHT}}厘米</span>
				<a :href='"https://www.baidu.com/s?wd="+list[id].P_NAME' target="_blank">百度一下</a>
				<a v-if="list[id].P_MY!=null" :href='"../mypaint/index.html?name="+list[id].P_MY'>My</a><br>				
            </div>
            <span v-if="test || (list[id].P_PICS.split('/')[0]=='img' && list[id].P_DYNASTY!='近现代' &&
			list[id].P_DYNASTY!='20世纪' && list[id].P_DYNASTY!='今人' && list[id].P_AUTHOR[2]!='窟' && list[id].P_AUTHOR[3]!='洞')">
				<img id='myimg' :src='list[id].P_PICS' @dblclick='window.open(list[id].P_PICS);'></span>
			<!--span v-if="!test && list[id].P_PICS.split('/')[0]!='img'">
				<iframe id="iframes" :src='"https://baike.baidu.com/item/"+list[id].P_NAME'></iframe>
			</span-->
            <br><br><div class="ret3"><a style="cursor:pointer" @click.prevent="id=-1"> ▶返回上页◀</a></div>
		</div>		
		<div class="footer">Copyright © 2017~19 鱼儿. All Rights Reserved.</div><br><br>
	</div>
</body>
<script>
var cpageName=self.location.href.split('group/')[1].split('/')[0];
function loadScript(script){
	var _script = document.createElement('script');
	_script.type = "text/javascript";
	_script.src = script;
	document.head.appendChild(_script);
}
loadScript("../../main/js/head.js");
if(window.screen.width<1080) loadScript("../../main/js/navi2.js");
else loadScript("../../main/js/navi1.js");

//var alljpg="";for(let i in myjson.RECORDS)if(myjson.RECORDS[i].P_PICS[3]=='j') alljpg+=myjson.RECORDS[i].P_PICS.split('/')[1]+"\r\n"; console.log(alljpg);
var vm = new Vue({
	el: '#main',
	data:{
		list:myjson.RECORDS,
		statename:["SSS","SS","S","水墨","设色","油彩","水彩","绢本",
					"纸本","布面","木板","壁画","卷轴","立轴","册页","扇",
					"书法","写生","人物","山水","花鸟","动物","宗教",
                    "中国","日本","韩国","意大利","法国","西班牙","荷兰","比利时",
					"德国","瑞士","北欧","英国","俄国","美国","其它国","未知国",
                    "翡冷翠","威尼斯","北方","巴洛克","洛可可","新古典",
					"浪漫","写实","印象","荆关董巨","南宋四家","元四家",
					"吴门","扬州八怪","四王","四僧","海上",
		],
		//stategroup:{"喙":"hui","虹膜":"hm","脚":"zu","分布":"area",},		
		statevalue:[],
		statecolor:["#888","#000","#fff"],
		id:-1,
		P_AUTHOR:"",
		P_DYNASTY:"",
		zuopin:false,
		test:false,
	},
	methods: {		
		reSet: function reSet(){			
			for(let j=0;j<this.statename.length;j++) this.statevalue[j]=0;			
			for(let j=0;j<this.list.length;j++) {
				this.list[j].fliter= true;
				if(!this.test && (this.list[j].SHOW=="no" || this.list[j].P_DYNASTY=="今人" || this.list[j].P_DYNASTY=="近现代" )) this.list[j].fliter= false;
			}
			if(!this.test){this.zuopin=true;this.setType(1);}
			else{this.setPre();this.$forceUpdate();}	
		},
		setType: function setType(i){
			this.statevalue[i]=(this.statevalue[i]+1)%3;
			
			if(this.statevalue[i]==1){
				//if(this.statename[i]=="中国") this.c(["翡冷翠","威尼斯","北方","巴洛克","洛可可","新古典","浪漫","写实","印象",]);
				
				if(i>=this.statename.indexOf("意大利") && i<=this.statename.indexOf("印象")) 
					this.c(["水墨","绢本","纸本","卷轴","立轴","扇","书法",
					"荆关董巨","南宋四家","元四家","吴门","扬州八怪","四王","四僧","海上",
					]);
				if(i>=this.statename.indexOf("荆关董巨") && i<=this.statename.indexOf("海上") || 
				this.statename[i]=="中国" || this.statename[i]=="绢本" || this.statename[i]=="纸本" || this.statename[i]=="书法" )
					this.c(["意大利","法国","西班牙","荷兰","比利时","德国","英国","俄国",
					"翡冷翠","威尼斯","北方","巴洛克","洛可可","新古典","浪漫","写实","印象",]);

				if(i==this.statename.indexOf("卷轴") || i==this.statename.indexOf("立轴") || i==this.statename.indexOf("扇")){
					this.c(["卷轴","立轴","册页","扇",
					"意大利","法国","西班牙","荷兰","比利时","德国","英国","俄国",
						"翡冷翠","威尼斯","北方","巴洛克","洛可可","新古典","浪漫","写实","印象",]);
					this.statevalue[i]=1;
				}			
				if(i>=this.statename.indexOf("绢本") && i<=this.statename.indexOf("壁画")){
					this.c(["绢本","纸本","布面","木板","壁画",]);
					this.statevalue[i]=1;
				}			
				if(i>=this.statename.indexOf("中国") && i<=this.statename.indexOf("未知国")){
					this.c(["中国","日本", "韩国","意大利","法国","西班牙","荷兰","比利时",
					"德国","瑞士","北欧","英国","俄国","美国","其它国","未知国",]);
					this.statevalue[i]=1;
				}									
				if(i>=this.statename.indexOf("翡冷翠") && i<=this.statename.indexOf("海上")){
					this.c(["翡冷翠","威尼斯","北方","巴洛克","洛可可","新古典","浪漫","写实","印象",
						"荆关董巨","南宋四家","元四家","吴门","扬州八怪","四王","四僧","海上",]);
					this.statevalue[i]=1;
				}
			}
							
			for(let k=0;k<this.list.length;k++) this.getItem(k);
			this.setPre();
			this.$forceUpdate();
		},
		c: function c(staten){
			for(let i=0;i<staten.length;i++){
				let n = this.statename.indexOf(staten[i]);
				if(this.statevalue[n]==1) this.statevalue[n]=2;
			}
		},
		getItem: function getItem(i){
			if(!this.test && this.list[i].SHOW=="no") {this.list[i].fliter= false;	return;}
			for(let j=0;j<this.statename.length;j++) {
				if(this.statevalue[j]==0) continue;				
				let get=0;
				let fenlei="P_TYPE"; if(j<3) fenlei="P_STAR";
				let word=this.statename[j]; 
				if(j==0) word="5";if(j==1) word="4";if(j==2) word="3";
				if(this.list[i][fenlei]==null) get=-1;
				else get=this.list[i][fenlei].indexOf(word);
				if(get!=-1 && this.statevalue[j]==1) continue;
				if(get==-1 && this.statevalue[j]==2) continue;
				this.list[i].fliter= false;	return;		
			}
			this.list[i].fliter= true; return;
		},
		setPre: function setPre(){
			let pre=-1; let preAuthor=""; let preDynasty="";
			for(let i=0;i<this.list.length;i++) 
				if(this.list[i].fliter) {
					this.list[i].pre=pre;pre=i;
					this.list[i].preAuthor=preAuthor;preAuthor=this.list[i].P_AUTHOR;
					this.list[i].preDynasty=preDynasty;preDynasty=this.list[i].P_DYNASTY;
				}
				else this.list[i].pre=-1;
		},
		getPre: function getPre(j){
			/*let i=j-1;
			for(;i>=0;i--) if(this.list[i].fliter) return i;
			return -1;*/
			return this.list[j].pre;
		},
		getNext: function getNext(j){
			let i=j+1;
			for(;i<this.list.length;i++) if(this.list[i].fliter) return i;
			return -1;
		},
		preAuthor: function prePic(){
			let i=this.getPre(this.id);
			while(i!=-1) if(this.list[i].P_AUTHOR!=this.list[this.id].P_AUTHOR) break; else i=this.getPre(i);
			this.id=i;
		},
		nextAuthor: function nextPic(){
			let i=this.getNext(this.id);
			while(i!=-1) if(this.list[i].P_AUTHOR!=this.list[this.id].P_AUTHOR) break; else i=this.getNext(i);
			this.id=i;
		},
	},
	created: function created() {	
        if(self.location.href.substring(0,4)!="http"){this.test=true;}
		this.reSet();
		let url=self.location.href;
		if(url.indexOf('=')>=0){
			let urlvalue=decodeURI(url.split('=')[1]);
			for(let i=0;i<this.list.length;i++) if(urlvalue==this.list[i].P_NAME || urlvalue==this.list[i].P_PICS) {this.id=i; break; }
		}
		var _this = this;
		document.onkeydown = function(e) {
            let key = window.event.keyCode;
			if (key == 36) _this.id=-1;
            if (key == 37) {
                if(_this.id!=-1) _this.id=_this.getPre(_this.id);
            }
			if (key == 39) {
                if(_this.id!=-1) _this.id=_this.getNext(_this.id);
            }
        };
    },
	beforeUpdate: function beforeUpdate(){
		if(this.id>=0 || this.P_AUTHOR!=''){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
		}
	},
	updated: function updated(){
		if(this.id<0 && this.P_AUTHOR=='') document.body.scrollTop=document.documentElement.scrollTop=this.scrolltop;
		else document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.id>=0)document.title=this.list[this.id].P_NAME;
		else document.title="画卷集";	
	},
})
</script>
</html>