<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060+",maximum-scale=1, user-scalable=no"; </script>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<style>
		[v-cloak] {display:none;}
	</style>
	<title>鳥之册</title>
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="bird.js"></script>
	<script src="../../main/js/comments.js"></script>
	<script src="../../main/js/vue.min.js"></script>
</head>

<body>
	<div id="main" v-cloak>
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br><br>
		<div v-if="id==-1">
			<div class="title" @click="test=!test" align="center">鳥之册</div><br><br>
			<div class="desc1">水积而鱼聚，木茂而鸟集。<br>
				天上，水上，丛莽间，凡有见者，皆以志之。</div><br>
			<div class="desc2"><span style="color: darkcyan;">浅蓝链</span>附图为紫月拍摄，嵌有数字水印；<br>鸟类数据参考《中国鸟类野外手册》。<br>
				转载请注明来源，其他用途请<a href="../h5/set/email/index.html">私信</a>。<br><br>
				【筛选🔍】灰：无 | 黑：是 | 白：非 | <span @click.prevent="reSet()" style="cursor:pointer;color:green;">重置</span><br>			
				 <span v-for="(item, i) in statename">
					<span v-if="i==0 || statename[i].split('|')[0]!=statename[i-1].split('|')[0]"><br>{{"【"+statename[i].split("|")[0]+"】"}}</span>
					<span v-if="i==32 || i==38"><br></span>
					<a :style="'color:'+statecolor[statevalue[i]]" @click="setType(i)" style="cursor:pointer;">
					{{statename[i].indexOf("|")==-1?statename[i]:statename[i].split("|")[1]}} </a>
				</span>								
			</div><br><br>
			<span v-for="(item, i) in list">	
				<span v-if="list[i].fliter">			
					<div v-if="i<1329 && (getPre(i)<0 || item.ke!=list[getPre(i)].ke)" class="family"><br/><br/>{{item.mu}}->{{item.ke}}<br/><br/></div>
					<div v-if="item.id==2001" class="family"><br/><br/>番外<br/><br/></div>
					<div v-if="item.id==3001" class="family"><br/><br/>未列<br/><br/></div>	
					<div v-if="item.id==4001" class="family"><br/><br/>其它<br/><br/></div>				
					<a v-if="item.pic!=null" @click.prevent="id=i" style="color: darkcyan; cursor: pointer;">{{item.wu}} </a>
					<a v-if="item.pic==null && i<1333" @click.prevent="id=i" style="color: #202096; cursor: pointer;">{{item.wu}} </a>
				</span>					
			</span><br><br>
		</div>
		<div v-if="id>=0">
			<div class='title' @click="test=!test" align='center'>{{list[id].wu}}<br></div><br>
			<div align='center'>
				<a @click.prevent="preFamily()" style="cursor: pointer;">◀◀◀</a>
				<a @click.prevent="prePic()" style="cursor: pointer;">◀◀</a>
				<a @click.prevent="id=getPre(id)" style="cursor: pointer;">◀　</a>
				【{{id+1}}】
				<a @click.prevent="id=getNext(id)" style="cursor: pointer;">　▶</a>	
				<a @click.prevent="nextPic()" style="cursor: pointer;">▶▶</a>
				<a @click.prevent="nextFamily()" style="cursor: pointer;">▶▶▶</a><br>
					{{list[id].mu}}->{{list[id].ke}}->{{list[id].shu}}->{{list[id].wu}}<br><br>
			</div>
			
			<span v-if="list[id].sn!=null">【学名】{{list[id].sn}}<br></span>
			<span v-if="list[id].en!=null">【英文名】{{list[id].en}}<br></span>
			<span @click="showcomment=!showcomment;if(!showcomment)addSubmitFlag=false;"
					style="cursor:pointer;font-weight:bold;color:blue;">【{{showcomment?"折叠":"展开"}}评论区】</span>

			<form v-if="showcomment" id="form" accept-charset="utf-8" action="https://formspree.io/f/mbjwjqev" method="POST">
				<label>昵称:</label><input id="form_name" name="name" required="" maxlength="10" @change="addSubmit()">
				<input id="form_submit" type="submit" value="发送"><br>
				<label>评论:</label><textarea id="form_message" name="message" maxlength="256" required=""></textarea>
				<input type="hidden" name="item" :value=list[id].wu>
				<input type="hidden" name="page" value='bird'>
				<br><span style="color:blue;" id="my-form-status"></span>
			</form>
			<div v-if="showcomment" v-for="(item, i) in comments.submissions">
				<span v-if="item.page=='bird' && item.item==list[id].wu">
				<span style="font-weight:bold;color:brown;">{{item.name}}</span>: {{item.message}}
				<span style="color:gray;">{{showTime(item._date)}}</span><br></span>
			</div>
			<span v-if="list[id].pic!=null" style="cursor:pointer;" @click.prevent="window.location.href='../photo/index.html?wd='+list[id].wu"><br>【俺拍嗒】<br>
				<img class='myimg' v-if="id<1329" :src='"birds/"+list[id].ke.split("科")[0]+"."+list[id].wu.replace("[","").replace("]","")+".jpg"'>
				<img class='myimg' v-if="id>=1329" :src='"others/"+list[id].ke.split("科")[0]+"."+list[id].wu+".jpg"'>
			<br></span><br>
			<span v-if="list[id].des!=null">【特征】{{list[id].des}}<br><br></span>
			<span v-if="list[id].de2!=null">【百科】{{list[id].de2}}<br><br></span>
			<span v-if="list[id].hm!=null">【虹膜】{{list[id].hm}}<br></span>
			<span v-if="list[id].hui!=null">【喙】{{list[id].hui}}<br></span>
			<span v-if="list[id].zu!=null">【脚】{{list[id].zu}}<br></span>
			<span v-if="list[id].vo!=null">【声】{{list[id].vo}}<br><br></span>
			<span v-if="list[id].area!=null">【分布】{{list[id].area}}<br></span>			
			<span v-if="test && id<1329">【分布图】<br><img class='myimg' :src='"birdmap/b"+addZero(id+1)+".jpg"'><br><br></span>
			<span v-if="test && id<1329">【插图】<br><img class='myimg' :src='"birdsall/b"+addZero(id+1)+".jpg"'><br><br></span>
			<br><br><div align="center"><a @click.prevent="id=-1;addSubmitFlag=false" style="cursor:pointer;">▶返回册主页◀</a></div>
		</div>	
		<div v-if="id==-1" class="ret"><a :href="sessionStorage.getItem('cube')==true?'../../3dindex.html':'../../index.html'"> ▶返回主页◀</a></div>		
		<div class="footer">Copyright © 2017~19 鱼儿. All Rights Reserved.</div><br><br>
	</div>
</body>
<script>
var cpageName=self.location.href.split('group/')[1].split('/')[0];
function loadScript(script){
	var _script = document.createElement('script');
	_script.type = "text/javascript";
	_script.src = script;
	document.head.appendChild(_script);
}
loadScript("../../main/js/head.js");
if(window.screen.width<1080) loadScript("../../main/js/navi2.js");
else loadScript("../../main/js/navi1.js");

var vm = new Vue({
	el: '#main',
	data:{
		list:birdjson.RECORDS,
		statename:["喙|黄","喙|灰","喙|褐","喙|黑","喙|红","喙|粉","喙|绿","喙|角质",
			"虹膜|褐","虹膜|橙","虹膜|红","虹膜|黄","虹膜|蓝","虹膜|白","虹膜|灰","虹膜|深","虹膜|棕",
			"脚|黑","脚|褐","脚|灰","脚|红","脚|粉","脚|黄","脚|蓝","脚|绿","脚|肉",
			"分布|喜马拉雅","分布|天山","分布|青藏高原","分布|云南","分布|台湾","分布|中国中部",
			"分布|中国南部","分布|中国北部","分布|中国西部","分布|中国东部","分布|中国西南","分布|中国西北",
			"分布|印度","分布|东南亚","分布|中东","分布|中亚","分布|南欧","分布|太平洋","分布|菲律宾","分布|苏拉威西",
		],
		stategroup:{"喙":"hui","虹膜":"hm","脚":"zu","分布":"area",},		
		statevalue:[],
		statecolor:["#888","#000","#fff"],
		id:-1,
		showcomment:false,
		addSubmitFlag:false,
		test:false,
	},
	methods: {		
		reSet: function reSet(){
			for(let j=0;j<this.statename.length;j++) this.statevalue[j]=0;
			for(let j=0;j<this.list.length;j++) this.list[j].fliter= true;
			this.$forceUpdate();		
		},
		setType: function setType(i){
			this.statevalue[i]=(this.statevalue[i]+1)%3;
			for(let k=0;k<this.list.length;k++) this.getItem(k);
			this.$forceUpdate();
		},
		getItem: function getItem(i){
			//console.log("s");
			for(let j=0;j<this.statename.length;j++) {
				if(this.statevalue[j]==0) continue;				
				let get=0;
				let fenlei=this.statename[j].split("|")[0];
				let word=this.statename[j].split("|")[1];
				if(this.list[i][this.stategroup[fenlei]]==null) get=-1;
				else get=this.list[i][this.stategroup[fenlei]].indexOf(word);
				if(get!=-1 && this.statevalue[j]==1) continue;
				if(get==-1 && this.statevalue[j]==2) continue;
				this.list[i].fliter= false;	return;		
			}
			this.list[i].fliter= true; return;
		},
		getPre: function getPre(j){
			let i=j-1;
			for(;i>=0;i--) if(this.list[i].fliter) return i;
			return -1;
		},
		getNext: function getNext(j){
			let i=j+1;
			for(;i<this.list.length;i++) if(this.list[i].fliter) return i;
			return -1;
		},
		prePic: function prePic(){
			let i=this.getPre(this.id);
			while(i!=-1) if(this.list[i].pic!=null) break; else i=this.getPre(i);
			this.id=i;if(this.id==-1)this.addSubmitFlag=false;
		},
		nextPic: function nextPic(){
			let i=this.getNext(this.id);
			while(i!=-1) if(this.list[i].pic!=null) break; else i=this.getNext(i);
			this.id=i;if(this.id==-1)this.addSubmitFlag=false;
		},
		preFamily: function preFamily(){
			let i=this.getPre(this.id);
			while(i!=-1) if(this.list[i].ke!=this.list[this.id].ke) break; else i=this.getPre(i);
			this.id=i;if(this.id==-1)this.addSubmitFlag=false;
		},
		nextFamily: function nextFamily(){
			let i=this.getNext(this.id);
			while(i!=-1) if(this.list[i].ke!=this.list[this.id].ke) break; else i=this.getNext(i);
			this.id=i;if(this.id==-1)this.addSubmitFlag=false;
		},
		addZero: function addZero(i){
			if(i<10) return "000"+i;
			if(i<100) return "00"+i;
			if(i<1000) return "0"+i;
			return i;
		},
		addSubmit: function addSubmit(){
			if(this.addSubmitFlag) return;
			this.addSubmitFlag=true;
			document.getElementById("my-form-status").innerHTML="";
			var form = document.getElementById("form");
			
			async function handleSubmit(event) {
				event.preventDefault();
				var status = document.getElementById("my-form-status");
				status.innerHTML = "发送中...";
				var data = new FormData(event.target);
				fetch(event.target.action, {
				method: form.method,
				body: data,
				headers: {
					'Accept': 'application/json'
				}
				}).then(response => {
				status.innerHTML = "发送成功！紫月精选后即可看见~";
				form.reset();
				}).catch(error => {
				status.innerHTML = "发送失败了..."
				});
			}
			
			form.addEventListener("submit", handleSubmit)
			//alert(this.addSubmitFlag)
		},
		showTime: function showTime(s){
			return '('+s.split('.')[0].replace(/T/g, " ")+')';
		},
	},
	created: function created() {
		if(self.location.href.substring(0,4)!="http")this.test=true;
        this.reSet();
		let url=self.location.href;
		if(url.indexOf('=')>=0){
			let urlvalue=decodeURI(url.split('=')[1]);
			for(let i=0;i<this.list.length;i++) if(urlvalue==this.list[i].wu.replace(/[/g, "").replace(/]/g, "")) {this.id=i; break; }
		}
		var _this = this;
		document.onkeydown = function(e) {
            let key = window.event.keyCode;
			if (key == 36) {_this.id=-1;_this.addSubmitFlag=false;}
            if (key == 37) {
                if(_this.id!=-1) _this.prePic();//_this.id=_this.getPre(_this.id);
            }
			if (key == 39) {
                if(_this.id!=-1) _this.nextPic();//_this.id=_this.getNext(_this.id);
            }
        };
    },
	beforeUpdate: function beforeUpdate(){
		if(this.id>=0){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
		}
	},
	updated: function updated(){
		if(this.id<0) document.body.scrollTop=document.documentElement.scrollTop=this.scrolltop;
		else document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.id>=0)document.title=this.list[this.id].wu;
		else document.title="鳥之册";	
	},
})
</script>
</html>
