<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta id="meta" name="viewport">
	<script>document.getElementById("meta").content="width=device-width, initial-scale="+window.screen.width/1060+",maximum-scale=1, user-scalable=no"; </script>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../main/css/style.css" type="text/css" />
	<title>中药集</title>
	<link rel="icon" type="image/x-ico" href="../../yuer.ico" />
	<script src="drugs2.js"></script>
	<script src="../../main/js/headb.js"></script>
	<script src="../../main/js/vue.min.js"></script>
</head>

<body>	
	<div id="main" v-cloak>
		<div id="mt"></div><div id="lm"></div><div id="rm"></div>
		<div id="mb"></div><div id="lt"></div><div id="rt"></div>
		<div id="lb"></div><div id="rb"></div><div id="ltx"></div>
		<div id="rtx"></div><div id="lbx"></div><div id="rbx"></div><br><br>
		<div v-if="id==-1">
			<div class="title" align="center">本草卷</div><br><br>
			<div class="desc2">资料参考《中国药典》、百度百科等，<br>仅供交流学习，求医问药慎参考！<br><br>
				【筛选🔍】灰：无 | 黑：是 | 白：非 | <span @click.prevent="reSet()" style="cursor:pointer;color:green;">重置</span><br><br>			
				<span v-for="(item, i) in words">
					<span v-if="i==0 || i==28"><br>{{"【"+words[i].split("|")[0]+"】"}}</span>
					<span v-if="i==7"><br>{{"【性味】"}}</span>
					<span v-if="i==16"><br>{{"【归经】"}}</span>
					<span v-if="i==22 || i==34 ||(i>=43 && (i-43)%7==0)"><br></span>
					<span v-if="i==50">【自定义】</span>
					<a :style="'color:'+typecolor[wselect[i]]" @click="setType(i)" style="cursor:pointer;">
					{{words[i].indexOf("|")==-1?words[i]:words[i].split("|")[1]}} </a>
				</span>	
				<div style="text-align:center;">
					<input type="text" v-model="msg" placeholder="自定义(五字内)">
					<span @click.prevent="if(msg.length<6){words.push(msg);wselect.push(0);}msg='';" 
						style="color:green;cursor:pointer;">添加</span>
					<span @click.prevent="words.splice(wlen,words.length-wlen);wselect.splice(wlen,wselect.length-wlen);" 
						style="color:green;cursor:pointer;">清空</span>
					<span @click.prevent="mohu++;mohu%=9;" 
						style="color:green;cursor:pointer;">模糊搜{{mohu}}</span>
				</div>				
			</div><br><br>
			<span v-if="list[i].fliter" v-for="(item, i) in list" @click.prevent="id=i" style="cursor:pointer;">
				<span v-if="list[i].LINK==null" style="color:Green;">{{list[i].D_NAME}} </span>
				<span v-if="list[i].LINK!=null" style="color:DarkCyan;font-weight:900">{{list[i].D_NAME}} </span>
			</span><br><br>
			<!--a v-if="list[i].fliter" v-for="(item, i) in list" :href="'https://baike.baidu.com/item/'+list[i].D_NAME" 
			target="_blank" style="cursor:pointer;">{{list[i].D_NAME}} </a><br><br-->		
		</div>
		<div v-if="id>=0">
			<br><br><div class='title' align='center'>{{list[id].D_NAME}}<br><br></div>
			<div align='center'>{{list[id].P_NAME}} | {{list[id].E_NAME}}<br>
			<a :href="'https://baike.baidu.com/item/'+list[id].D_NAME" target="_blank" style="cursor:pointer;">百度百科</a>
			<a v-if="list[id].LINK!=null" :href="setUrl(id)" target="_blank">本站参考<br></a>
			</div>	
			<br><br><div v-html="list[id].D_INFO"></div>		
			<br><br><div align="center"><a @click.prevent="id=-1" style="cursor:pointer;">▶返回册主页◀</a></div>
		</div>	
		<div v-if="id==-1" id="ret"><a :href="sessionStorage.getItem('cube')==true?'../../3dindex.html':'../../index.html'"> ▶返回主页◀</a></div>		
		<div class="footer">Copyright © 2017~19 鱼儿. All Rights Reserved.</div><br><br>
	</div>
</body>
<script>
var cpageName=self.location.href.split('group/')[1].split('/')[0];
function loadScript(script){
	var _script = document.createElement('script');
	_script.type = "text/javascript";
	_script.src = script;
	document.head.appendChild(_script);
}
loadScript("../../main/js/head.js");
if(window.screen.width<1080) loadScript("../../main/js/navi2.js");
else loadScript("../../main/js/navi1.js");

window.onload = function(){
var vm = new Vue({
	el: '#main',
	data:{
		list:myjson.RECORDS,
		words:["简介|动物","简介|植物","简介|矿物","简介|茎","简介|果实","简介|昆虫","处方",
		"性味与归经|寒","性味与归经|热","性味与归经|温","性味与归经|凉","性味与归经|辛","性味与归经|甘","性味与归经|酸","性味与归经|苦","性味与归经|咸",
		"性味与归经|心","性味与归经|肝","性味与归经|脾","性味与归经|肺","性味与归经|肾","性味与归经|胃",
		"性味与归经|大肠","性味与归经|小肠","性味与归经|膀胱","性味与归经|胆","性味与归经|心包","性味与归经|三焦",
		"功能与主治|食积不消","功能与主治|消化","功能与主治|多梦","功能与主治|麻木","功能与主治|呕吐","功能与主治|头晕","功能与主治|肿痛","功能与主治|胀痛",
		"功能与主治|咳嗽","功能与主治|痰黄","功能与主治|痰热","功能与主治|感冒","功能与主治|呕吐","功能与主治|小便不利","功能与主治|口干","功能与主治|胸闷",
		"功能与主治|热毒","功能与主治|畏寒","功能与主治|小儿","功能与主治|活血","功能与主治|月经不调","功能与主治|筋骨",
		],
		typecolor:["#888","#000","#fff"],
		wselect:[],
		wlen:0,
		msg:"",
		id:-1,
		mohu:0,
	},
	methods: {
		setType: function setType(i){
			this.wselect[i]=(this.wselect[i]+1)%3;
			for(let k=0;k<this.list.length;k++) this.getItem(k);
			this.$forceUpdate();
		},
		getItem: function getItem(i){
			let mohu=this.mohu;
			//console.log("dd")
			if(this.wselect[6]==2 && i>=618 && i<2158 ) {this.list[i].fliter= false; return;}
			for(let j=0;j<this.words.length;j++) {
				if(this.wselect[j]==0) continue;
				
				let get=0;
				if(this.words[j].indexOf("|")==-1)
					get=this.list[i].D_INFO.indexOf(this.words[j]);
				else {
					let fenlei=this.words[j].split("|")[0];
					let word=this.words[j].split("|")[1];
					if(this.list[i].D_INFO.indexOf("【"+fenlei+"】")==-1) get=-1;
					else{
						let fenleiinfo=this.list[i].D_INFO.split("【"+fenlei+"】")[1].split("【")[0];
						//if(i<30)console.log(this.list[i].D_NAME+" "+fenleiinfo);
						get=fenleiinfo.indexOf(word);
					}
				}
				
				if(get!=-1 && this.wselect[j]==1) continue;
				if(get==-1 && this.wselect[j]==2) continue;
				if(mohu==0) {this.list[i].fliter= false; return;};
				mohu--;
			}
			this.list[i].fliter= true; return;
		},
		setUrl: function setUrl(id){
			return linkTo(this.list[id].LINK);
		},
		reSet: function reSet(){
			for(let j=0;j<this.words.length;j++) this.wselect[j]=0;			
			for(let j=0;j<this.list.length;j++) this.list[j].fliter= true;
			this.wselect[6]=2;//关闭处方类
			for(let j=618;j<2158;j++) this.list[j].fliter= false;//关闭处方类+提取物
			this.$forceUpdate();
		},
	},
	created: function created() {	
        this.reSet();
		this.wlen=this.words.length;
		let url=self.location.href;
		if(url.indexOf('=')>=0){
			let urlvalue=decodeURI(url.split('=')[1]);
			for(let i=0;i<this.list.length;i++) if(urlvalue==this.list[i].D_NAME) {this.id=i; break; }
		};
		
		var _this = this;
        document.onkeydown = function(e) {
            let key = window.event.keyCode;
			if (key == 36) _this.id=-1;
        };
    },
	beforeUpdate: function beforeUpdate(){
		if(this.id>=0){
			if (document.body && document.body.scrollTop) 
				this.scrolltop=document.body.scrollTop;
			if (document.documentElement && document.documentElement.scrollTop) 
				this.scrolltop=document.documentElement.scrollTop;
		}
	},
	updated: function updated(){
		if(this.id<0) document.body.scrollTop=document.documentElement.scrollTop=this.scrolltop;
		else document.body.scrollTop=document.documentElement.scrollTop=0;
		if(this.id>=0)document.title=this.list[this.id].D_NAME;
		else document.title="中药集";	
	},
})

};
</script>
</html>
