<!DOCTYPE html>
<html>
    <head>
        <title>综合</title>
		<style id="style"></style>
		<link href="01.css" id="css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
		<script src="jquery-3.3.1.min.js"></script>
		<!--script src="vue.js"></script-->
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
		<script src="info.js"></script>
		<!--script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uIGNq6dLthEQ5iM5G8mNfCl1BDDfWx9d"></script-->
    </head>
	<body>
		<div id="all" v-cloak>
			<div class="mainnaviback">
				<div class="mainnavi">
					<div id="logo"></div>
					<ul id="navi"><li v-for="(item, i) in page">
						<a href="javascript:;" @click="current=i;cpage=0;" :class="(i==current?'currentmainnavi':'mainnavilia')">{{navinames[langid][page[i]]}}</a>
					</li></ul>
					<div id="lang"><a href="javascript:;" @click="langid=(parseInt(langid)+1)%2;">{{lang[(parseInt(langid)+1)%2]}}</a></div>
				</div>
			</div>
			<div id="main" v-show="cpage==0">
			
				<div id="Home" v-show="page[current]=='Home'">
					<div class="slidershow">
						<div class="slides" id="slides">
							<input v-for="(item, i) in slidepics" type="radio" name="slide_r" :id="'r'+i" :checked="i==0" @change="currentslide=i;">
							<div v-for="(item, i) in slidepics" :class="'slide'+(i==0?' s1':'')"><img :src="item.img" alt=""></div>					
						</div>
						<div class="slidenavi" id="slidenavi">
							<label v-for="(item, i) in slidepics" :for="'r'+i" :class="(i==currentslide?'currentslidebar':'slidebar')"></label>
						</div>
						<div id="slidesinfo">{{slidepics[currentslide].info[langid]}}</div>	
					</div>
					<div id="homelist" class="homelist">
						<div v-for="(item, i) in hometext"><h2>{{item.title[langid]}}</h2><br><p>{{item.info[langid]}}</p></div>
					</div>
				</div>
				
				<div id="About" v-show="page[current]=='About'">
					<div id="sizebox" :style="'height:'+60*(endyear-startyear+1)+'px'"></div>
					<div>
						<div class="history_trail" v-for="(item, i) in historylist" :style="'top:'+(60*(item.year-startyear)+5*(item.month-1)+23)+'px'"></div>
						<div class="timebox" v-for="(item, i) in historylist" :style="'top:'+(60*(item.year-startyear)+5*(item.month-1)+23)+'px'">
							{{toDate(item.date)}}  {{item.info[langid]}} <span class="pagelink" v-if="item.page" @click="cpage=item.page;LoadPages();">>></span>
						</div>
						<div class="yearbox" v-for="(item, i) in (endyear-startyear+1)" :style="'top:'+(i*60+22)+'px'">{{i+startyear}}</div>
					</div>
					<div id="timeline" :style="'height:'+60*(endyear-startyear)+'px'"></div>					
				</div>
				
				<!-- <div id="History" v-show="page[current]=='History'" cssid="History">				
					<div class="Htimebox" v-for="(item, i) in historylist2">
						<div class="Hhistory_trail"></div>
						<span class="Hdate">{{item.year}}.{{item.month}}.{{item.date}}</span>
						<span class="Hsite">　{{item.site}} </span>
						<div class="Hnum" v-if="item.n != ''">{{item.n}}</div><br>
						<div class="Hinfo"><span v-html="item.info"></span> <a :href="item.url">>></a></div>
					</div>
					<div id="Htimeline"></div>
				</div> -->
				
				<div id="News" v-show="page[current]=='News'">
					<div id="newsbox" v-for="(item, i) in news" :class="'newsone '+(i%2?'':'singular')">
							<div class="newsdate">{{item.date[langid]}}</div>
							<div class="newstitle">{{item.title[langid]}}</div>
							<div class="newsinfo" v-html="item.info[langid]"></div>
					</div>
					<div style="clear:both;"></div>
				</div>	
				
				<div id="Photos" v-show="page[current]=='Photos'">
					<div id="waterfall" class="waterfall" >
						<div class="water" v-for="(item, i) in waterpics">
							<img :src="item.img" alt="" />
							<p>{{item.info[langid]}}</p>
						</div>
					</div>
				</div>
			
				<div id="Contacts" v-show="page[current]=='Contacts'">	
					<div id="misinfo">
							<h2>{{misinfo[langid][0]}}</h2><br>
							<p>{{misinfo[langid][1]}}</p>
					</div>	
					
					<div id="contactinfo">
						<h2>{{address[langid][0]}}</h2><br>
						<strong>{{address[langid][1]}}</strong> {{address[langid][2]}}<br>
						<strong>{{address[langid][3]}}</strong> {{address[langid][4]}}<br>
						<strong>{{address[langid][5]}}</strong> {{address[langid][6]}}<br>
						<strong>{{address[langid][7]}}</strong> {{address[langid][8]}}<br>
						<strong>{{address[langid][9]}}</strong> {{address[langid][10]}}<br>
					</div>
					
					<div id="map"></div>
					
					<div id="contactarea">
					<h2>{{contactform[langid][0]}}</h2><br>
						<form id="ContactForm" action="">
							<div class="wrapper">
								<div><p>{{contactform[langid][1]}}</p><input type="text" class="input" v-model="contactName"></div>
								<div><p>{{contactform[langid][2]}}</p><input type="text" class="input" v-model="contactEmail"></div>
								<div><p>{{contactform[langid][3]}}</p>							
									<textarea cols="1" rows="1" class="text" v-model="contactMsg"></textarea>
								</div>
								<a href="#" class="send" @click="contactSubmit()">{{contactform[langid][4]}}</a>
								<a href="#" class="send" onclick="document.getElementById('ContactForm').reset()">{{contactform[langid][5]}}</a>				
							</div>
						</form>
					</div>
						
				</div>
			
			</div>
			<div id="page" v-if="cpage!=0">
				<div id="pagetext" v-html="pages"></div>
				<div id="pagereturn" @click="cpage=0;" >返回</div><br>
			</div>
			<div class="footerbox"></div>
			<div class="footer" id="footer">
				Copyright 2015~2019 ABC
			</div>
		</div>
	</body>
	<script>
	//Common

	var all=new Vue({
		el: '#all',
		data:{ 
			lang:lang, langid:1, page:[], current:0, cpage:0,navinames:navinames,
			slidepics:slidepics, currentslide:0, stop:2, hometext:hometext,
			historylist:historylist, startyear:2010, endyear:2016,		
			//historylist2:historylist2,			
			news:news,			
			waterpics:waterpics,					
			misinfo:misinfo, address:address, contactform:contactform, contactName:"", contactEmail:"", contactMsg:"",
			pages:"",//pageinfo:pageinfo,
		},
		beforeCreate() {			
		},
		created() {		
			
			if (window.screen.width <= 1024) $("#css").attr("href", "01m.css");		
			for(let i=0;i<$("#main>div").length;i++) this.page[i]=$("#main>div")[i].id; 
		
		//Home
			for(let i in slidepics) $("#style").html($("#style").html()+'#r'+i+':checked ~ .s1{margin-left:-'+i*100/slidepics.length+'%;}');
			$("#style").html($("#style").html()+'.slides{width:'+slidepics.length*100+'%;}');
			$("#style").html($("#style").html()+'.slide{width:'+100/slidepics.length+'%;}');			
			
		//About
			for(let i in historylist) {
				if(historylist[i].year<this.startyear) this.startyear=historylist[i].year;
				if(historylist[i].year>this.endyear) this.endyear=historylist[i].year				
			};
			this.endyear++;
		
		},
		updated() {
			//if(this.current==4) this.LoadMap();
			document.documentElement.scrollTop=0;
		},
		mounted() {
		//Home
			$(".slidershow").mousemove(function(){all.stop=2;});
			setInterval(function(){ 
				if(all.page[all.current]!="Home" || all.cpage!=0) return;
				if(all.stop>0) all.stop--;
				if(all.stop!=0) return;
				all.currentslide=(all.currentslide+1)%slidepics.length;
				$("#r"+all.currentslide).click();
			},3000);
		},
		methods: {
			LoadMap() {
				//console.log("loadmap");			
				var map = new BMap.Map("map",{mapType:BMAP_NORMAL_MAP,minZoom:17});
				map.addControl(new BMap.MapTypeControl());  
				map.setDefaultCursor("crosshair");
				var point = new BMap.Point(116.404, 39.915);
				var zoom=7; map.centerAndZoom(point, zoom);
				map.enableScrollWheelZoom(true); 
				var marker = new BMap.Marker(point);   
				map.addOverlay(marker);
			},
			contactSubmit() {
				var contactInfo = { name: this.contactName, email: this.contactEmail, msg: this.contactMsg };
				console.log(contactInfo);
				this.contactName=this.contactEmail=this.contactMsg="";
			},
			toDate(date) {
				var d = new Date(date);
				if(this.langid==1) return (d.getMonth()+1)+"月"+d.getDate()+"日";
				else return d.getDate()+" "+EnMonth[d.getMonth()]+" ";
			},
			LoadPages() {
				this.pages=$.ajax({url:"pages/"+this.cpage+".html",async:false}).responseText;
			}
		}
	});
	
	
/*	
	$("#main").on("touchstart", function(e) {
		// 判断默认行为是否可以被禁用
		if (e.cancelable) {
			// 判断默认行为是否已经被禁用
			if (!e.defaultPrevented) {
				e.preventDefault();
			}
		}   
		startX = e.originalEvent.changedTouches[0].pageX,
		startY = e.originalEvent.changedTouches[0].pageY;
	});
	$("#main").on("touchend", function(e) {         
			// 判断默认行为是否可以被禁用
		if (e.cancelable) {
			// 判断默认行为是否已经被禁用
			if (!e.defaultPrevented) {
				e.preventDefault();
			}
		}               
		moveEndX = e.originalEvent.changedTouches[0].pageX,
		moveEndY = e.originalEvent.changedTouches[0].pageY,
		X = moveEndX - startX,
		Y = moveEndY - startY;
		//左滑
		if ( X > 160 ) {
			all.current=(all.current+all.page.length-1)%all.page.length;
		}
		//右滑
		else if ( X < -160 ) {
			all.current=(all.current+1)%all.page.length;
			//alert('右滑');    
		}
		//下滑
		else if ( Y > 0) {
			//alert('下滑');    
		}
		//上滑
		else if ( Y < 0 ) {
			//alert('上滑');    
		}
		//单击
		else{
			//alert('单击');    
		}
	});
*/	
		
	
	</script>
</html>